@import "../footer/__container/container.css";
@import "../footer/footer-span/footer-span.css";
.footer{
  width: 100%;
  background-color: rgb(48, 48, 48);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.footer__item{
  width: 80%;
  margin: 0 10%;
}