.imgContainerSize {
  height: 290px;
}

.gridWithDifferentColumns {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 60% 40%;

  justify-content: space-between;
}

.gridImg {
  height: 290px;
  background-size: cover;
  background-position: center center;
}
