.leftContent {
  background-color: #1f252f;
  padding: 10%;
}

.rightContent {
  padding-left: 0;
}

.servicesList {
  list-style-type: none;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #cccccc;
}

.servicesList::before {
  content: "> ";
}

ul {
  padding: 0;
}
