.main_features_create-block{
   background-image: url('./img/features/wordpress/bg.png');
   background-size: cover;
   &-header{
      justify-content: flex-start !important;
      div{
         text-align: right;
      }
   }
}

.main_features_services{
   padding: 5% 0;
   align-items: center;
   flex-direction: column;
   text-align: center;
   &_title{
      @include decorationTitleSection;
      margin-bottom: 1%;
   }
   &_subTitle{
      width: 30%;
      @include decorationSubTitleSection;
      margin-bottom: 2%;
   }
   &_service-box_img{
      margin-top: 15%;
    margin-bottom: 5%;
   }
}

.main_features_contact{
   &-footer{
      background-color: rgb(73, 176, 241);
      a{
         background-color: rgb(73, 176, 241);
      }
   }
}
