@font-face {
  font-family: Gotham;
  src: local(Gotham-Black),
    url(/path/to/Gotham-Black.woff2) format("woff2"),
    url(/path/to/Gotham-Black.woff) format("woff"),
    url(/path/to/Gotham-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Lato;
  src: local(Lato-Regular),
    url(/path/to/Lato-Regular.woff2) format("woff2"),
    url(/path/to/Lato-Regular.woff) format("woff"),
    url(/path/to/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: OpenSans;
  src: local(OpenSans-Light),
    url(/path/to/OpenSans-Light.woff2) format("woff2"),
    url(/path/to/OpenSans-Light.woff) format("woff"),
    url(/path/to/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}