table {
  margin: 0 auto;
  border-collapse: collapse;
  background: #e8edff;

  font-size: 20px;
}

#containerTable {
  position: relative;
}

#leftArrow {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 35px;
  font-weight: bold;
  color: #039;
}

#rightArrow {
  position: absolute;
  top: 50%;
  right: 30%;
  font-size: 35px;
  font-weight: bold;
  color: #039;
}

th {
  background: #b9c9fe;
  padding: 10px;
}

td {
  padding: 5px;
  text-align: center;
}

caption {
  padding: 10px;
  font-size: 24px;
  color: #039;
}
