.atten {
    color: red;
    font-style: oblique;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}

section {
    border: 8px solid gray;
    text-align: center;
    background-color: black;
    border-radius: 20%;
    color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 section li {
     text-align: center;
 }

 img {
     border: 3px solid purple;
     border-radius: 20%;
 }