@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic);

@font-face {
  font-family: MyUniqueFont;
  src: url('../fonts/Samantha Demo.ttf');
}

h1 {
  font-family: Philosopher, serif;
}

p {
  font-family: MyUniqueFont, serif;
  font-size: 30px;
}
