.footer-span{
  width: 100%;
  background-color: rgb(43, 43, 43);
}
.footer-span__item{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10% ;
  padding: 1% 0;
}
.span-one, .span-two{
  color: rgb(151, 151, 151);
}