.imgContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contentPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 480px;
  height: 420px;
  border: 1px solid black;

  background-size: cover;
  background-position: center center;
}
