table {
	border: 1px solid black;
	width: 50%;
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid black;
}
table td {
    cursor: pointer;
}

td {
	padding-left: 5px;
}

tbody tr th:active {
	background-color: #8300ff;
}

tbody tr td:hover {
	transition: all 0.5s;
	background:#cc96ff;
	font-size: 18px;
}