@media only screen and (min-width : 1224px) {
  .main{
    h1{
      text-align: center;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1223px) {
  .header-container{
    flex-direction: column;
    align-items: center;
    .header__item{
      width: 100%;
      justify-content: center;
      text-align: center;
      padding: 1% 0;
    }
  }
  .carousel{
    width: 100%;
  }
  .slide{
    .switch-left{
     margin: -20%;
     align-items: left;
    }
    .switch-right{ 
     margin: -20%;
    }
    .info-slide{
      width: 30%;
    }
    .slide-pic{
      width: 70%;
      img {
        width: 80%;
        margin-right: 15%;
      }
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .header-container{
    flex-direction: column;
    align-items: center;
    .header__item{
      width: 100%;
      justify-content: center;
      text-align: center;
      padding: 1% 0;
    } 
  }
  .nav{
    width: 100%;
    display: flex;
    ul{
      flex-direction: column;
      li{
        width: 100%;
      }
    }
  }
  .carousel{
    width: 100%;
  }
  .slide{
    flex-direction: column ;
    .switch-left{
     margin: -20%;
     align-items: left;
    }
    .switch-right{ 
     margin: -20%;
    }
    .info-slide{
      text-align: center;
      align-items: center;
      width: 100%;
      h1{
        font-size: 30pt;
      }
      h2{
        margin-left: 150%;
      }
    }
    .slide-pic{
      width: 100%;
      img {
        display: none;
      }
    }
    
  }
.slider .carousel .slide .info-slide h1{
  width: 100%;
  text-align: center;
  margin-left: 20%;
}
 .slider .carousel .slide .info-slide .slide-button{
   width: 100%;
   margin-left: 70%;
 }
  .service{
    flex-direction: column;
    .title{
      width: 100%;
      margin-top: 5%;
    }
  }
  .header-work{
    margin-top: -10%;
    .header-block{
      h1{
        font-size: 12pt;
      }
    }
  }
  .work{
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    .work__item{
      width: 100%;
    }
  }




  .footer {
    .containerblock{
      flex-direction: column;
     }
    .container__item{
       width: 100%;
     }
  }
  .footer-container{
    padding: 1% 0;
    display: flex;
    flex-direction: column; 
  }

  .containerblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



}
  