@mixin createPost {
}

.main_blog-section {
   display: flex;
   justify-content: center;
   &_post-settings {
      width: 39%;
      background-color: rgb(247, 247, 247);
      display: flex;
      flex-direction: column;
   }
   &_post-section {
      padding: 3.5%;
      margin-right: 7%;
      width: 61%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
}

.main_blog-section_post-section {
   &_nav {
      display: flex;
      div{
         cursor: pointer;
      }
   }
   &_nav-btn {
      margin-left: 6%;
      @include open;
      color: rgb(153, 153, 153);
      padding: 3.5%;
      border-radius: 3px;
      border: solid 1px rgb(236, 236, 236);
      background-color: rgb(247, 247, 247);
   }
   &_nav-btn:hover {
      background-color: rgb(66, 133, 244);
      color: rgb(255, 255, 255);
   }
   &_nav-select {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px rgb(236, 236, 236);
      background-color: rgb(255, 255, 255);
   }
}

.main_blog-section_post {
   width: 59.5%;
   padding-bottom: 5%;
   &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-header_avatar {
      border-radius: 50%;
      width: 7.14%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-color: rgb(204, 204, 204);
   }
   &-header_avatar::before {
      content: "";
      padding-top: 100%;
      float: left;
   }
   &-header_author {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: -50%;
      article {
         color: rgb(51, 51, 51);
         @include openBolder;
         font-size: 1.14rem;
      }
      span {
         @include open;
         color: rgb(153, 153, 153);
      }
   }
   &-header_btn {
      border: solid 1px rgb(230, 230, 230);
      background-color: rgb(246, 247, 248);
      color: rgb(153, 153, 153);
      @include open;
      text-decoration: none;
      height: 100%;
      padding: 1.3% 3%;
   }
   &-main {
      display: flex;
      flex-direction: column;
      margin: 3% 0;
   }
   &-main_picture {
      width: 100%;
      background-color: rgb(232, 232, 232);
      overflow: hidden;
      background-size: cover;
      background-position: center;
   }
   &-main_picture::before {
      content: "";
      float: left;
      padding-top: 57%;
   }
   &-main_title {
      @include open;
      font-size: 2.14rem;
      line-height: 1.67;
      letter-spacing: normal;
      color: rgb(51, 51, 51);
      margin: 2% 0;
   }
   &-main_text {
      @include open;
      line-height: 2.14;
      letter-spacing: normal;
      color: rgb(87, 87, 87);
   }
   &-footer_btn {
      @include open;
      color: rgb(153, 153, 153);
      transition: 0.3s;
      padding-right: 2%;
      margin-right: 2%;
      padding-left: 0;
      background: none;
      border: none;
   }
   &-footer_btn:hover {
      transform: scale(1.1);
      color: rgb(66, 133, 244);
   }
   &-footer_btn:not(:last-child) {
      border-right: 1px solid rgb(219, 219, 219);
   }
}

.main_blog-section_post-settings {
   padding: 2%;
   &_search {
      margin-bottom: 6%;
      position: relative;
      input {
         width: 60%;
         border: solid 1px rgb(232, 232, 232);
         background-color: rgb(255, 255, 255);
         color: rgb(204, 204, 204);
         padding: 2% 6%;
      }
      input::placeholder {
         color: rgb(204, 204, 204);
         font-size: 1rem;
      }
      span {
         color: rgb(51, 51, 51);
         position: absolute;
         top: 35%;
         left: 2%;
      }
   }
   &_block {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-bottom: 4%;
   }
   &_block-title {
      @include openBold;
      line-height: 2.31;
      letter-spacing: 1.69px;
      color: rgb(51, 51, 51);
      margin-bottom: 4%;
   }
   &_block-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4%;
   }
   &_block-content_image {
      width: 30%;
      background-color: rgb(227, 227, 227);
      background-size: cover;
      background-position: center;
   }
   &_block-content_image::before {
      content: "";
      left: 0;
      padding-top: 30%;
   }
   &_block-content_text {
      width: 60%;
      @include open;
      article {
         font-weight: 600;
         line-height: 2.14;
         color: rgb(51, 51, 51);
         margin-bottom: 1%;
      }
      span {
         color: rgb(153, 153, 153);
      }
   }
}

.main_blog-section_popular-post {
   > div {
      display: flex;
      flex-direction: column;
   }
}

.main_blog-section_trending-tags {
   > div {
      display: flex;
      flex-wrap: wrap;
   }
   a {
      text-decoration: none;
      color: rgb(153, 153, 153);
      border: solid 1px rgb(230, 230, 230);
      background-color: rgb(255, 255, 255);
      padding: 3.5%;
      margin-right: 2%;
      margin-bottom: 2%;
   }
}

.main_blog-section_newsletter {
   @include open;
   input {
      border: solid 1px rgb(232, 232, 232);
      background-color: rgb(255, 255, 255);
      color: rgb(204, 204, 204);
      padding: 3% 6%;
      width: 70%;
      margin-bottom: 2%;
   }
   input::placeholder {
      color: rgb(204, 204, 204);
   }
   button {
      margin-top: 2%;
      border-radius: 3px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px rgb(44, 108, 214);
      background-color: rgb(66, 133, 244);
      color: rgb(255, 255, 255);
      width: 82%;
      padding: 3% 6%;
   }
   span {
      padding-left: 23%;
      margin-top: 4%;
      color: rgb(186, 186, 186);
   }
}

.main_blog-section_photo-from-unsplash {
   > .photo-from-unsplash_container {
      display: flex;
      flex-wrap: wrap;
   }
   .photo-from-unsplash_container-item {
      width: 25%;
      background-color: rgb(227, 227, 227);
      background-size: cover;
      background-position: center;
      margin-left: 1%;
      margin-bottom: 1%;
   }
   .photo-from-unsplash_container-item::before {
      content: "";
      float: left;
      padding-top: 100%;
   }
}

.main_blog-section_list {
   @include open;
   li {
      line-height: 3.57;
      a {
         color: rgb(51, 51, 51);
         text-decoration: none;
      }
   }
   li:not(:last-child) {
      border-bottom: 1px solid rgb(235, 235, 235);
   }
}

.main_blog-section_footer {
   @include greenFooter;
   background-color: rgb(55, 206, 255);
   a {
      background-color: rgb(55, 206, 255);
   }
}
