.footer{
   &_about-us{
      padding: 5% 0;
      background-color: rgb(36, 36, 39);
      >.container{
         justify-content: space-around;
      }
      &-address{
         h5{
            color: rgb(255, 255, 255);
            @include openBold;
            font-size: 1.29rem;
            margin-bottom: 2%;
         }
      }
      h5{
         color: rgb(255, 255, 255);
         @include openBold;
         font-size: 1.29rem;
         margin-bottom: 10%;
      }
      li{
         @include open;
         color: rgb(153, 153, 153);
         margin-bottom: 6%;
      }
   }
   &_copyright{
      display: flex;
      justify-content: space-around;
      color: rgb(102, 102, 102);
      padding: 2% 0;
      background-color: rgb(26, 26, 29);
      span{
         color: rgb(153, 153, 153);
      }
   }
   &_copyright-social{
      width: 10%;
      span{
         margin-left: 10%;
      }
   }
}

@media only screen and (max-width : 1824px){
   .footer{
      &_copyright-social{
         width: 15%;
      }
   }
}

@media only screen and (max-width: 768px) {
   .footer{
      &-about-us-logo{
         width: 20%;
         img{
            width: 100%;
         }
      }
   }
}