@mixin blockStat($color) {
   padding-top: 15%;
   border-top: 5px solid $color;
   color: $color;
}

.main_slider {
   background-color: rgb(105, 105, 105);
   &-nav {
      margin-top: 5%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      span {
         padding: 1.5%;
         display: block;
         border-radius: 3px;
         color: rgb(255, 255, 255);
         background-color: rgba(0, 0, 0, 0.4);
      }
   }
   &-nav-button {
      width: 25%;
      display: flex;
      justify-content: space-around;
      a {
         display: block;
         padding: 5.5% 0;
         width: 200px;
         text-align: center;
         text-decoration: none;
         color: rgb(255, 255, 255);
         background: rgba(255, 255, 255, 0);
         border: solid 1px rgb(255, 255, 255);
         @include openBold;
      }
      a:hover {
         background-color: rgba(0, 0, 0, 0.5);
      }
   }
   > .container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding: 20% 0 5%;
   }
   &-slides {
      top: 15rem;
      left: 0;
      position: absolute;
      display: flex;
      width: 400vw;
   }
   &_slide {
      width: 100vw;
      text-align: center;
   }
   &_slide-title {
      @include open;
      width: 57%;
      margin: 0 auto;
      font-size: 5.14rem;
      line-height: 1.67;
      color: rgb(255, 255, 255);
   }
   &_slide-subTitle {
      @include decorationSubTitleSection;
      font-size: 2.6rem;
      color: rgb(255, 255, 255);
   }
   &-buttons {
      margin-top: 15%;
   }
   &-button {
      display: none;
   }
   &-fake-button {
      display: inline-block;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      width: 14px;
      height: 14px;
   }
   &-fake-button:not(:first-child) {
      margin-left: 0.5rem;
   }
   &-fake-button::before {
      transition: 0.2s;
      display: inline-block;
      content: " ";
      width: 16px;
      height: 16px;
      background-color: rgb(255, 255, 255);
      opacity: 0;
      border-radius: 50%;
   }
   &-button:checked + &-fake-button::before {
      opacity: 1;
   }
}

.main_skill {
   padding: 5%;
   > .container {
      -webkit-box-pack: space-evenly;
      justify-content: space-evenly;
   }
   &-block {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      width: 16%;
      text-align: center;
   }
   &-block_image {
      border-radius: 50%;
      font-size: 2.7rem;
      color: rgb(255, 255, 255);
      width: 150px;
      height: 150px;
      background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 240, 255)), to(rgb(235, 172, 253)));
      background: linear-gradient(to top, rgb(0, 240, 255), rgb(235, 172, 253));
      vertical-align: middle;
      -webkit-transition: all 1s linear;
      transition: all 1s linear;
      span {
         display: inline-block;
         margin-top: 37%;
      }
      margin-bottom: 5%;
   }
   &-block:hover {
      .main_skill-block_image {
         background: -webkit-gradient(linear, left bottom, left top, from(rgb(66, 133, 244)), to(rgb(66, 133, 244)));
         background: linear-gradient(to top, rgb(66, 133, 244), rgb(66, 133, 244));
      }
      .main_skill-block_text-title {
         color: rgb(0, 0, 0);
      }
   }
   &-block_text {
      @include open;
      font-size: 0.9rem;
      line-height: 2.14;
      letter-spacing: normal;
      color: rgb(87, 87, 87);
   }
   &-block_text-title {
      display: block;
      font-size: 1.28rem;
      line-height: 1.67;
      color: rgb(51, 51, 51);
      margin-bottom: 5%;
   }
}

.main_create-block {
   background-image: url("./img/home/main/create-section/bg.png");
   background-repeat: no-repeat;
   background-size: contain;
   > .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
   }
   &_header {
      padding: 17% 0;
      > div {
         width: 45%;
      }
   }
   &-header_title {
      @include decorationTitleSection;
      margin-bottom: 7%;
   }
   &-header_subTitle {
      @include decorationSubTitleSection;
      margin-bottom: 5%;
   }
   &-header_info {
      @include decorationInfoSection;
   }
   &-header_button {
      @include blueButton;
      @include openBolder;
      text-decoration: none;
      color: rgb(255, 255, 255);
   }
   &_footer {
      padding: 5% 0;
      background-color: rgb(255, 255, 255);
      width: 100%;
      text-align: center;
   }
   &-footer_title {
      @include decorationTitleSection;
      margin-bottom: 2%;
   }
   &-footer_subTitle {
      @include decorationSubTitleSection;
   }
}

$width-image: 480px;
$height-image: 420px;

.main_your-pictures-block {
   padding: 2% 0;
   > .container {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
   }
   &_header {
      display: grid;
      grid-template-areas:
         "post-1 post-2 post-3 post-4"
         "post-5 post-2 post-6 post-7";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   &_header-image {
      width: $width-image;
   }
   &_header-image:nth-child(1) {
      height: $height-image;
      grid-area: post-1;
      background-color: rgb(202, 212, 225);
   }
   &_header-image:nth-child(2) {
      height: $height-image * 2;
      grid-area: post-2;
      background-color: rgb(223, 225, 229);
   }
   &_header-image:nth-child(3) {
      height: $height-image;
      grid-area: post-3;
      background-color: rgb(202, 212, 225);
   }
   &_header-image:nth-child(4) {
      height: $height-image;
      grid-area: post-4;
      background-color: rgb(235, 238, 242);
   }
   &_header-image:nth-child(5) {
      height: $height-image;
      grid-area: post-5;
      background-color: rgb(232, 232, 232);
   }
   &_header-image:nth-child(6) {
      height: $height-image;
      grid-area: post-6;
      background-color: rgb(240, 246, 253);
   }
   &_header-image:nth-child(7) {
      height: $height-image;
      grid-area: post-7;
      background-color: rgb(202, 212, 225);
   }
   &_footer {
      @include greenFooter;
   }
}

.main_features-project {
   padding: 3% 0;
   > .container {
      flex-wrap: wrap;
      justify-content: space-around;
   }
   &_block {
      width: 30%;
      display: -webkit-box;
      display: flex;
      margin-bottom: 3%;
   }
   &_block-icon {
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 240, 255)), to(rgb(235, 172, 253))),
         -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
      background-image: linear-gradient(to top, rgb(0, 240, 255), rgb(235, 172, 253)),
         linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
      font-family: themify;
      font-size: 3.2rem;
      margin-right: 3%;
      color: rgb(255, 255, 255);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   &_block-title {
      @include openBold;
      font-size: 1.3rem;
      line-height: 1.67;
      color: rgb(51, 51, 51);
      margin-bottom: 1%;
   }
   &_block-info {
      width: 70%;
      line-height: 2.14;
      color: rgb(87, 87, 87);
   }
}

.main_create-block-mac {
   background-image: url("./img/home/main/create-section/bg-mac.png");
   background-size: cover;
   .main_create-block_header {
      padding: 15% 0;
      display: flex;
      justify-content: flex-end;
   }
}

.main_stats {
   display: flex;
   justify-content: center;
   &-block {
      background-color: rgb(31, 37, 47);
      border-right: 1px solid rgb(54, 59, 68);
      width: 16.66%;
      padding: 0 0 2%;
      text-align: center;
   }
   &-block_counter {
      font-size: 4.28rem;
      @include open;
      margin-bottom: 1.5%;
   }
   &-block_name {
      @include open;
      line-height: 4.29;
      letter-spacing: 0.7px;
      color: rgb(255, 255, 255);
   }
   &-block_support {
      @include blockStat(rgb(156, 224, 141));
   }
   &-block_purchases {
      @include blockStat(rgb(129, 176, 255));
   }
   &-block_cafe {
      @include blockStat(rgb(244, 114, 114));
   }
   &-block_facebook {
      @include blockStat(rgb(170, 233, 128));
   }
   &-block_tweets {
      @include blockStat(rgb(159, 123, 251));
   }
   &-block_comments {
      @include blockStat(rgb(251, 180, 57));
   }
}

.main_parralax {
   background-color: rgb(167, 180, 192);
   > .container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding: 20% 0 5%;
   }
   &-slides {
      top: 15rem;
      left: 0;
      position: absolute;
      display: flex;
      width: 400vw;
   }
   &_slide {
      width: 100vw;
      text-align: center;
   }
   &_slide-title {
      @include open;
      width: 57%;
      margin: 0 auto 2%;
      font-size: 2.14rem;
      line-height: 1.67;
      color: rgb(255, 255, 255);
   }
   &_slide-contact {
      @include open;
      line-height: 1.71;
      letter-spacing: 0.7px;
      color: rgb(255, 255, 255);
      span {
         display: block;
         @include openBold;
      }
   }
   &-buttons {
      margin-top: 15%;
   }
   &-button {
      display: none;
   }
   &-fake-button {
      display: inline-block;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      width: 14px;
      height: 14px;
   }
   &-fake-button:not(:first-child) {
      margin-left: 0.5rem;
   }
   &-fake-button::before {
      transition: 0.2s;
      display: inline-block;
      content: " ";
      width: 16px;
      height: 16px;
      background-color: rgb(255, 255, 255);
      opacity: 0;
      border-radius: 50%;
   }
   &-button:checked + &-fake-button::before {
      opacity: 1;
   }
}

.main_services {
   display: flex;
   &_content {
      background-color: rgba(31, 37, 47, 0.9);
      width: 35%;
      padding: 5% 0% 5% 2%;
   }
   &_content-title {
      @include decorationTitleSection;
      color: rgb(255, 255, 255);
      width: 80%;
      margin-bottom: 5%;
   }
   &_content-subTitle {
      @include decorationSubTitleSection;
      color: rgb(185, 185, 185);
      width: 80%;
      margin-bottom: 1.5%;
   }
   &_content-info {
      @include decorationInfoSection;
      color: rgb(204, 204, 204);
      width: 80%;
      margin-bottom: 1.5%;
   }
   &_content-list {
      @include open;
      line-height: 2.14;
      color: rgb(204, 204, 204);
   }
   &_content-link {
      @include blueButton;
      color: rgb(255, 255, 255);
   }
   &_service-box {
      width: 65%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      > div {
         width: 33.3%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
   }
   &_service-box_img {
      margin-bottom: 13%;
   }
   &_service-box_title {
      @include openBold;
      font-size: 1.28rem;
      color: rgb(51, 51, 51);
      margin-bottom: 2.5%;
   }
   &_service-box_info {
      text-align: center;
      width: 60%;
      @include open;
      line-height: 2.14;
      color: rgb(87, 87, 87);
      margin-bottom: 2.5%;
   }
   &_service-box_link {
      @include openBold;
      letter-spacing: 0.6px;
      color: rgb(66, 133, 244);
   }
}

.main_partners {
   padding: 7% 0 15%;
   background-image: url("./img/home/main/partners/bg.png");
   text-align: center;
   background-size: cover;
   &-title {
      @include decorationTitleSection;
      margin-bottom: 1%;
   }
   &-subTitle {
      @include decorationSubTitleSection;
   }
   &-logo {
      width: 65%;
      margin: 4% auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      > div {
         opacity: 0.5;
         padding: 4% 0;
         width: 24%;
         transition: 0.5s;
      }
      > div:nth-child(-n + 3) {
         border-bottom: 2px solid rgb(201, 198, 203);
         border-right: 2px solid rgb(201, 198, 203);
      }
      > div:nth-child(4) {
         border-bottom: 2px solid rgb(201, 198, 203);
      }
      > div:nth-child(n + 5):not(:last-child) {
         border-right: 2px solid rgb(201, 198, 203);
      }
      > div:hover {
         transition: 0.5s;
         opacity: 1;
      }
   }
}

.main_pricing {
   padding: 5% 0;
   text-align: center;
   &-title {
      @include decorationTitleSection;
   }
   &-subTitle {
      @include decorationSubTitleSection;
   }
   > div {
      margin-top: 2%;
      display: flex;
      justify-content: center;
   }
   &_table {
      @include open;
      width: 20.3%;
      padding: 4% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      border: solid 1px rgb(234, 234, 234);
      background-color: rgb(255, 255, 255);
      transition: 0.3s;
      position: relative;
   }
   &_table-title {
      margin-bottom: 15%;
      font-size: 2.14rem;
      color: rgb(51, 51, 51);
   }
   &_table-price {
      margin-bottom: 10%;
      font-size: 1.42rem;
      color: rgb(153, 153, 153);
      span {
         font-weight: 600;
         color: rgb(66, 133, 244);
      }
   }
   &_table-chips {
      padding: 7% 0;
      width: 60%;
      margin: 0 auto;
      border-bottom: 1px dotted rgb(234, 234, 234);
   }
   &_table-chips-title {
      margin-bottom: 3%;
      font-size: 1.14rem;
      font-weight: 600;
      color: rgb(51, 51, 51);
      i {
         color: rgb(155, 203, 91);
      }
   }
   &_table-chips-info {
      margin-bottom: 3%;
      line-height: 2.14;
      color: rgb(153, 153, 153);
   }
   &_table-link {
      color: rgb(255, 255, 255);
      @include blueButton;
      padding: 3.5% 10%;
   }
   &_table:hover {
      z-index: 2;
      transform: scale(1.1);
      transition: 0.3s;
      .main_pricing_table-link {
         box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
         border: solid 1px rgb(117, 169, 49);
         background-color: rgb(130, 180, 64);
      }
   }
}

.main_video {
   text-align: center;
   &_header {
      padding: 10% 0;
      background-color: rgba(42, 48, 54, 0.5);
   }
   &_header-play {
      margin: 0 auto;
      font-size: 10rem;
      color: rgb(255, 255, 255);
      margin-bottom: 4%;
   }
   &_header-title {
      @include decorationTitleSection;
      color: rgb(255, 255, 255);
      margin-bottom: 6%;
   }
   &_header-info {
      @include openBold;
      letter-spacing: 0.7px;
      color: rgb(255, 255, 255);
      font-size: 0.9rem;
   }
   &_footer {
      @include greenFooter;
   }
}

.main_choose-skill {
   display: flex;
   &_content {
      padding: 5% 10% 5% 3%;
      width: 50%;
      > div {
         display: flex;
         justify-content: flex-start;
      }
   }
   &_content-title {
      @include decorationTitleSection;
      margin-bottom: 2%;
   }
   &_content-subTitle {
      @include decorationSubTitleSection;
      line-height: 2;
      margin-bottom: 2%;
   }
   &_content-information {
      margin-right: 15%;
      width: 38%;
      @include open;
      h5 {
         font-size: 1.29rem;
         font-weight: 600;
         color: rgb(51, 51, 51);
         margin-bottom: 6%;
      }
      p {
         line-height: 2.14;
         color: rgb(87, 87, 87);
         margin-bottom: 10%;
      }
      img {
         margin-bottom: 6%;
      }
   }
   &_content-link {
      font-weight: 600;
      color: rgb(66, 133, 244);
   }
   &_progress-bar {
      padding: 5% 2%;
      width: 35%;
      background-color: rgba(31, 37, 47, 0.95);
   }
   &_progress-bar-title {
      @include decorationTitleSection;
      color: rgb(255, 255, 255);
      margin-bottom: 2%;
   }
   &_progress-bar-subTitle {
      @include decorationSubTitleSection;
      color: rgb(185, 185, 185);
      margin-bottom: 2%;
   }
   &_progress-bar-info {
      @include decorationInfoSection;
      color: rgb(204, 204, 204);
      margin-bottom: 4%;
   }
   &_progress-bar-body {
      span {
         display: block;
         font-size: 1.29rem;
         color: rgb(255, 255, 255);
         margin-bottom: 2%;
      }
      div {
         height: 10px;
         background-color: rgb(19, 19, 19);
         border-radius: 10px;
         margin-bottom: 6%;
      }
      div::before {
         content: "";
         display: block;
         height: 10px;
         background-image: linear-gradient(to right, rgb(0, 240, 255), rgb(235, 172, 253));
         border-radius: 10px;
      }
      .progress-web-design::before {
         width: 80%;
      }
      .progress-wordpress::before {
         width: 95%;
      }
      .progress-seo::before {
         width: 67%;
      }
      .progress-mobile::before {
         width: 73%;
      }
   }
   &_progress-bar-link {
      @include blueButton;
      color: rgb(255, 255, 255);
   }
}

.main_lastest-twitter {
   background-color: rgb(167, 180, 192);
   > .container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding: 20% 0 5%;
   }
   &-slides {
      transition: 1s ease;
      top: 15rem;
      left: 0;
      position: absolute;
      display: flex;
      width: 400vw;
   }
   &_slide {
      width: 100vw;
      text-align: center;
   }
   &-icon {
      display: block;
      font-size: 5.14rem;
      color: rgb(255, 255, 255);
      margin-bottom: 3%;
   }
   &_slide-title {
      @include open;
      width: 57%;
      margin: 0 auto 2%;
      font-size: 2.14rem;
      line-height: 1.67;
      color: rgb(255, 255, 255);
      span {
         font-weight: 400;
      }
   }
   &_slide-contact {
      @include open;
      line-height: 1.71;
      letter-spacing: 0.7px;
      color: rgb(255, 255, 255);
      span {
         display: block;
         @include openBold;
      }
   }
   &-buttons {
      margin-top: 15%;
   }
   &-button {
      display: none;
   }
   &-fake-button {
      display: inline-block;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      width: 14px;
      height: 14px;
   }
   &-fake-button:not(:first-child) {
      margin-left: 0.5rem;
   }
   &-fake-button::before {
      transition: 0.2s;
      display: inline-block;
      content: " ";
      width: 16px;
      height: 16px;
      background-color: rgb(255, 255, 255);
      opacity: 0;
      border-radius: 50%;
   }
   &-button:checked + &-fake-button::before {
      opacity: 1;
   }
}

.main_blog {
   padding: 5% 0;
   > .container {
      flex-direction: column;
      align-items: center;
   }
   &-title {
      @include decorationTitleSection;
      margin-bottom: 2%;
   }
   &-subTitle {
      @include decorationSubTitleSection;
      margin-bottom: 2%;
      width: 35%;
      text-align: center;
   }
   &-content {
      margin-bottom: 4%;
      display: grid;
      grid-template-areas:
         "post-1 post-2"
         "post-1 post-3";
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;
      > div {
         background-color: rgba(38, 44, 57, 0.8);
         width: 65%;
         padding: 20% 4% 6%;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
      }
      > div:hover {
         background-color: rgba(66, 133, 244, 0.9);
      }
      > div:nth-child(1) {
         grid-area: post-1;
         margin-left: 25%;
      }
      > div:nth-child(2) {
         grid-area: post-2;
      }
      > div:nth-child(3) {
         grid-area: post-3;
         margin-top: 2%;
      }
   }
   &-content-title {
      @include open;
      line-height: 1.5;
      color: rgb(255, 255, 255);
      font-size: 1.7rem;
   }
   &-content-author {
      font-size: 1rem;
      color: rgb(204, 204, 204);
   }
   &-link {
      text-decoration: none;
      color: rgb(66, 133, 244);
      @include openBold;
      font-size: 1.3rem;
   }
}

.main_contact {
   > .container {
      width: 100%;
      flex-direction: column;
   }
   &-header {
      text-align: center;
      width: 100%;
      padding: 5% 0;
      background-color: rgb(20, 23, 29);
   }
   &-header-title {
      @include decorationTitleSection;
      color: rgb(255, 255, 255);
      margin-bottom: 2%;
   }
   &-header-subTitle {
      width: 42%;
      margin: 0 auto;
      @include decorationSubTitleSection;
      color: rgb(153, 153, 153);
      margin-bottom: 2%;
   }
   &-header-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      > * {
         width: 25%;
         margin-bottom: 1%;
         box-sizing: border-box;
         padding: 0.7% 1.5%;
      }
      input,
      select {
         color: rgb(153, 153, 153);
         border-radius: 5px;
         border: 1px solid rgb(68, 73, 87);
         background-color: rgba(255, 255, 255, 0);
      }
      input::placeholder {
         color: rgb(153, 153, 153);
      }
      button {
         border-radius: 5px;
         box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
         border: solid 1px rgb(44, 108, 214);
         background-color: rgb(66, 133, 244);
         color: rgb(255, 255, 255);
      }
   }
   &-footer {
      @include greenFooter;
   }
}

@media only screen and (max-width: 1824px) {
   .main_slider {
      &_slide-title {
         font-size: 4.7rem;
      }
      &_slide-subTitle {
         font-size: 2.2rem;
      }
      &-nav-button {
         a:first-child {
            margin-right: 2rem;
         }
      }
   }
   .main_skill {
      &-block_image {
         width: 80px;
         height: 80px;
      }
   }

   .main_your-pictures-block {
      &_header-image {
         width: 256px;
      }
      &_header-image:nth-child(1) {
         height: 224px;
      }
      &_header-image:nth-child(2) {
         height: 224px * 2;
      }
      &_header-image:nth-child(3) {
         height: 224px;
      }
      &_header-image:nth-child(4) {
         height: 224px;
      }
      &_header-image:nth-child(5) {
         height: 224px;
      }
      &_header-image:nth-child(6) {
         height: 224px;
      }
      &_header-image:nth-child(7) {
         height: 224px;
      }
   }
   .main_create-block-mac {
      .main_create-block_header {
         padding: 13% 0;
      }
   }
   .main_services {
      &_service-box_img {
         img {
            width: 34px;
            height: 34px;
         }
      }
   }
   .main_partners {
      &-logo {
         > div {
            img {
               width: 70%;
            }
         }
      }
   }
   .main_choose-skill {
      &_content-information {
         img {
            width: 100%;
         }
      }
   }
   .main_lastest-twitter {
      &-buttons {
         margin-top: 20%;
      }
   }
   .main_blog {
      &-subTitle {
         width: 60%;
      }
   }
   .main_contact {
      &-header-form {
         > * {
            width: 30%;
         }
      }
   }
}

@media only screen and (max-width: 1024px) {
   .main_slider {
      &-fake-button {
         width: 5.6px;
         height: 5.6px;
      }
      &-fake-button::before {
         width: 6.4px;
         height: 6.4px;
      }
   }
   .main_your-pictures-block {
      &_header-image {
         width: 192px;
      }
      &_header-image:nth-child(1) {
         height: 168px;
      }
      &_header-image:nth-child(2) {
         height: 168px * 2;
      }
      &_header-image:nth-child(3) {
         height: 168px;
      }
      &_header-image:nth-child(4) {
         height: 168px;
      }
      &_header-image:nth-child(5) {
         height: 168px;
      }
      &_header-image:nth-child(6) {
         height: 168px;
      }
      &_header-image:nth-child(7) {
         height: 168px;
      }
   }

   .main_skill {
      &-block_image {
         width: 60px;
         height: 60px;
      }
   }
   .main_parralax {
      &-fake-button {
         width: 5.6px;
         height: 5.6px;
      }
      &-fake-button::before {
         width: 6.4px;
         height: 6.4px;
      }
   }
   .main_lastest-twitter {
      &-fake-button {
         width: 5.6px;
         height: 5.6px;
      }
      &-fake-button::before {
         width: 6.4px;
         height: 6.4px;
      }
   }
}

@media only screen and (max-width: 768px) {
   .main_skill {
      &-block_image {
         width: 37.5px;
         height: 37.5px;
      }
   }
   .main_your-pictures-block {
      &_header-image {
         width: 120px;
      }
      &_header-image:nth-child(1) {
         height: 105px;
      }
      &_header-image:nth-child(2) {
         height: 105px * 2;
      }
      &_header-image:nth-child(3) {
         height: 105px;
      }
      &_header-image:nth-child(4) {
         height: 105px;
      }
      &_header-image:nth-child(5) {
         height: 105px;
      }
      &_header-image:nth-child(6) {
         height: 105px;
      }
      &_header-image:nth-child(7) {
         height: 105px;
      }
   }
   .main_services {
      &_service-box_img {
         img {
            width: 16px;
            height: 16px;
         }
      }
   }
   .main_choose-skill {
      &_progress-bar-body {
         div {
            height: 2.5px;
            border-radius: 2.5px;
         }
         div::before {
            height: 2.5px;
            border-radius: 2.5px;
         }
      }
   }
   .main_blog {
      &-content {
         > div {
            padding: 30% 4% 6%;
         }
      }
   }
   .main_contact {
      &-header-form {
         > * {
            width: 40%;
         }
      }
   }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
   .main_slider {
      &-nav{
         span{
            padding: 2.5%;
         }
      }
      &-nav-button {
         width: 35%;
         a {
            font-size: 2rem;
            width: 300px;
         }
      }
   }
   .main_skill {
      > .container {
         flex-wrap: wrap;
      }
      &-block {
         margin-top: 5%;
         width: 40%;
      }
      &-block_text{
         font-size: 1.2rem;
      }
      &-block_text-title{
         font-size: 2.3rem;
      }
   }
   .main_contact {
      &-header-form {
         > * {
            width: 60%;
         }
      }
   }
}
