  .addButton {
    text-decoration: none;
    display: inline-block;
    float: right;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 15px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .addButton:hover {
    background: #5264AE;
    box-shadow: 0 15px 20px rgba(141, 97, 192, 0.4);
    color: white;
  }
