.card {
    display: inline-block;
    width: 30%;
    min-width: 400px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    margin: 1em 1.5%;
    animation: scl 0.5s ease-in-out;
    transform-origin: left center;
    background-color: #fff;
  }
  .card-title {
    padding: 16px 16px 0;
    font-weight: 700;
    font-size: 2em;
  }

  .card-subtitle {
    padding: 0 16px 16px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.600);
  }

  .card-desc {
    padding: 0 1em 1em 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    height: 75px;
    overflow: hidden;
    text-align: justify;
  }
  .todoDel, .todoEdit {
    margin: 1em 0 1em 1em;
    height: 3em;
    width: 8em;
    background: rgb(82, 111, 174);
    border: none;
    font-weight: light;
    color: #fff;
    position: relative;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
  }
  .todoDel:hover, .todoEdit:hover {
    background: rgba(82, 111, 174, 0.8);
    transition: all 0.1s ease-in;
  }
  .card:hover {
    box-shadow: 7px 7px 20px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in;
  }