.footer{
  width: 100%;
  background-color: rgb(48, 48, 48);
  border-bottom: 1px solid rgb(0, 0, 0);
  .footer__item{
    width: 80%;
    margin: 0 10%;
  }
  .footer-container{
    padding: 1% 0;
    display: flex;
    
  }
  .containerblock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .elem__item{
    display: block;
    
  }
  .container__item{
    display: block;
    width: 25%;
    color: white;
    margin: 0 1% 1% 1%;
  } 
  .blog{
    .blog__item{
      margin: 1%;
      a{
        text-decoration: none;
        color: rgb(118, 195, 143);
      }
      h1{
        display: block;
        margin-top: 5%;
        margin-bottom: 1%;
        text-decoration: none;
        color: rgb(118, 195, 143);
        font-size: 13pt;
      }
      h2{
        display: block;
        margin: 3% 0;
        color: rgb(102, 102, 102);
        font-size: 10pt;
      }
      h3{
        display: block;
        margin-bottom: 3%;
        color: rgb(151, 151, 151);
        font-size: 10pt;
      }
      p{
        color: rgb(151, 151, 151); 
        font-size: 13pt;
      }
      h4{
        display: block;
        margin: 5% 0;
        font-size: 13pt;
      }
    }
  }
  .links{
    display: flex;
    flex-direction: column;
    .links__item{
      margin-top: 5%;
      a{
        color: rgb(118, 195, 143);
        text-decoration: none;
        font-size: 13pt;
      }
      li{
        border-bottom: 1px solid rgb(64, 64, 64);
        padding-bottom: 3%;
      }
    }
  }
  .tweets{
    display: flex;
    flex-direction: column;
    .tweets__item{
      margin:  5% 0;
      font-size: 10pt ;
      color: rgb(151, 151, 151);
      p{
        font-size: 13pt;
        color: rgb(151, 151, 151);
      }
      a{
        text-decoration: none;
        color: rgb(118, 195, 143);
      }
    }
  }
  .contact{
    display: flex;
    flex-direction: column;
    .contact__item{
      width: 100%;
      margin-top: 5%;
      input{
        width: 100%;
      }
    }
    .footer-form-button{
      display: inline-block;
      width: 50%;
      text-decoration: none;
      text-align: center;
      padding: 3% 0;
      margin: 5% 0;
      font-size: 12pt;
      color: rgb(48, 48, 48);
      background-color: rgb(118, 195, 143);
      border-color: rgb(118, 195, 143);
      border-radius: 0.5vw;
    }
    .contact__item_form{
     color: rgb(152, 152, 152);
     background-color: rgb(34, 34, 34);
     border:1px solid rgb(34, 34, 34);
     margin: 1% 0;
     border-radius: 1vw;
     padding: 2% 5%;
    }
    .contact__item_bigform{
     display: block;
     width: 100%;
     
    }
  }
}
.footer-span{
  width: 100%;
  background-color: rgb(43, 43, 43);
  .footer-span__item{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% ;
    padding: 1% 0;
  }
  .span-one, .span-two{
    color: rgb(151, 151, 151);
  }
}
