@import "../__container/__blog/blog.css";
@import "../__container/__links/links.css";
@import "../__container/__tweets/tweets.css";
@import "../__container/__contact/contact.css";
.footer-container{
  padding: 1% 0;
  display: flex;
  
}
.containerblock{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.elem__item{
  display: block;
  
}
.container__item{
  display: block;
  width: 25%;
  color: white;
  margin: 0 1% 1% 1%;
  
} 
