h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-align: center;
}
.phone{
  width: 100%;
  display: inline-flex;
} 
.text h2{
  font-size: 15;
  font-family: 'open sans', sans-serif;
  text-align: center;
}
.apple-margin, .samsung-margin, .xiaomi-margin{
  width: 25%;
  display: block;
  margin: auto;
}
.apple,.samsung,.xiaomi{
  margin: 0 auto;
  background: rgb(200, 200, 200);
  border: 2px solid black;
  width: 80%;
  display: block;
}
.apple img,.samsung img,.xiaomi img{
  width: 150px;
  display: block;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: blue;
}
a:hover[title="like"]{
  color: red;
}
.apple:hover{
  width: 100%;
}
.samsung:hover{
  width: 100%;
}
.xiaomi:hover{
  width: 100%;
}