.main{
  width: 90%;
  margin: 0 5%;
}
.main_item{
  border-bottom: 5px dotted #cccccc;
}
.block-header-main{
  padding: 2% 0;
  h1{
    color: #333333;
    font-size: 60px;
  }
  span{
    color: #00bff3;
    font-size: 60px;
  }
  h2{
    color: #bbbbbb;
    font-size: 50px;
  }
}
.block-info-main{
  padding: 2% 0;
  p{
    color:  #555555;
    font-family: Myriad Pro;
    font-size: 34px;
    line-height: 1.24;
    letter-spacing: -1.36px;
  }
  span{
    color: #555555;
    font-size: 34px;
    font-weight: bold;;
    line-height: 1.24;
   letter-spacing: -1.36px;
  }
}
.service-blocks-main{
  display: flex;
  flex-direction: row;
  .service-blocks-main_item{
    background-color: #00aeef;
    margin: 2%;
    box-shadow: 2.5px 4.3px 5px 0 rgba(170, 170, 170, 0.75);
    .service-header{
      width: 80%;
      margin: 10% 10%;
      padding-bottom: 5%;
      border-bottom: 3px dotted #ffffff ;
      h1{
        font-size: 40px;
        text-align: center;
        color: #ffffff;
      }
    }
    p{
      width: 74%;
      margin: 10% 13%;
      color: #ffffff;
      font-size: 14px;
      line-height: 1.5;
    }
    button{
      width: 80%;
      margin: 0 10%;
      margin-bottom: 8%;
      box-shadow: 2.5px 4.3px 5px 0 rgba(170, 170, 170, 0.75);
      background-color: #0076a3;
      border-color: #15607c;
      color: #ffffff;
    }
  }

}
.reviewsAndpProject{
  width: 100%;
  margin-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  .reviewsAndpProject_item{
    width: 50%;
  } 
}
.reviews{
  border-right: 4px dotted #cccccc;
  .header-client{
    font-size: 24px;
    color: #555555;
    padding-bottom: 3%;
  }
  .container-people_item{
    display: flex;
    flex-direction: row;
    padding-top: 6%;
    .information{
      padding: 0 5%;
      h1{
        padding-top: 5% ;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.29;
      }
      h2{
        line-height: 1.29;
        font-size: 14px;
        color: #00aeef;
      }
    }
  }
}
.project{
  padding-left: 5%;
  h1{
    color: #555555;
    font-size: 24px;
  }
  h2{
    color: #888888;
    font-size: 20px;
    padding-top: 8%;
    padding-bottom: 2%;
  }
  img{
    box-shadow: 2.5px 4.3px 5px 0 rgba(204, 204, 204, 0.75);
    border: solid 1px #cccccc;
  }
  p{
    padding-top: 2%;
    padding-bottom: 6%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
  }
  a{
    text-decoration: none;
    color:#00aeef;
    line-height: 1.43;
  }
}
