
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 9px 20px;
    border: 0;
    cursor: pointer;
    outline: none;
     
    font-size: 14px;
    font-family: open sans;
    font-weight: bold;
    background-color: #f6f7f8;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: #999999;
    text-transform: capitalize;
    text-decoration: none;
}

/*!=====================INTRO==================*/



.intro{
    height: 500px;
    background: linear-gradient( rgba(8, 8, 8, 0.7), rgba(0, 0, 0, 0.7) ), #1a273c url('../img/futuresH.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;
}

.intro .container{
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
    justify-content: center;
}

.intro .title{
    font-family: Century Gothic , sans-serif;
    font-weight: 300;
    font-size: 72px;
}

.intro .subtitle{
    padding: 30px 0;
    font-size: 36px;
    color: #8b8d8f;
}


/*!blog*/

.blogs{
    background: linear-gradient(to right,  #fcfbfd 75%, #f7f7f7 25%);;
}

.blogs .container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
}

.blogs__box{
    width: 60%;
}

.blogs__box-small{
    width: 31.6%;
    padding: 30px 0 0 30px;
    background-color: #f7f7f7;
}


/*?blogs__box*/

/*?blog__first*/

.blogs__first{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 60px;
    margin-bottom: 40px;
}

.blogs__first:first-child{
    margin-top: 100px;
}

.blogs__container{
    display: flex;
}

.blogs__photo .photo{
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
    border-radius: 50%;
    margin-right: 20px;
}

.blogs__name .name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.blogs__name .time{
    font-size: 14px;
    font-weight: 300;
    color: #a8a8a8;
}
/*?=====*/

.blogs__box .picture{
    background-image: url('../img/block1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.blogs__box .title{
    font-size: 30px;
    margin: 40px 0 30px;
}

.blogs__box .text{
    font-weight: 300;
    line-height: 1.7em;
    word-spacing: 0.3em;
    margin-bottom: 40px;
}

.subtext{
    font-weight: 300;
    color: #999999;
    padding-bottom: 60px;
    border-bottom: 1px solid #ebebeb;
    margin-top: 40px;
}

.subtext span{
    margin: 0 15px;
}

.subtext span:first-child{
    margin-left: 0;
}

.subtext span:hover{
    color: #548ff5;
}

.btn--white{
    padding: 9px 28px;
    margin-right: 10px;
}

.blogs__box i {
    margin-right: 25px;
}

.blogs__box .fa{
    color: #666666;
}

.fa-facebook-f:hover{
    color: #2164b6;
}

.fa-linkedin:hover{
    color: #2a8fdd;
}

.fa-twitter:hover{
    color: #43d0fe;
}

.fa-vimeo:hover{
    color: #547885;
}

.fa-pinterest-p:hover{
    color: #df5643;
}

.picture--third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #4285f4;
    box-shadow: 6px 6px #b3cefb;
}

.picture__text{
    font-weight: Italic;
    font-size: 30px;
    color: white;

    padding: 100px;
}

.blogs__box .subtitle{
    font-size: 18px;
    color: #c5c5c5;
    margin-bottom: 30px;
}

.pagination{
    justify-content: flex-end;
    margin-top: 60px;
    margin-bottom: 100px;
}

.pagination li{
    margin-left: 7px;
    outline: none;
}

.page-link{
    border-radius: 3px;
}

.page-link:hover{
    color: white;
    background-color: #4285f4;
    border-color: #4285f4;
}

.blogs__box iframe{
    width: 100%;
    height: 400px;

}






/*?=====blog__box-small=====*/


.input{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 340px;
}
.input__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 50px;
    border: 1px solid #e8e8e8;
    border-right: none;
    align-items: center;
    background-color: white;
}

.blogs__box-small .text{
    border: 1px solid #e8e8e8;
    border-left: none;
    width: 310px;
    height: 50px;
    border-radius: 0;
    margin: 0;
    outline: none;
}

.item__img{
    position: relative;
    left: -44px;
    top: 20px; 
}

.blogs__box-small .title{
    font-size: 13px;
    font-weight: bold;
    color: black;
    margin-top: 40px;
    margin-bottom: 30px;
}

.blogs__line{
    margin: 30px 0;
    width: 70px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}


/*?bokses__content*/

.bokses__content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.bokses__content:first-child{
    margin-top: 0;
}

.bokses__content .item{
    width: 34%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #e3e3e3;
    align-items: center;
}

.bokses__content .item img{
    width: 20px;
    display: none;
}

.bokses__content .title{
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 1.7em;
}

.bokses__content .time{
    font-weight: 300;
    margin-left: 20px;
    color: #999999;
}

.bokses__content:hover .item{
    background-color: #2d2d2d;
}

.bokses__content:hover .title{
    color: #4285f4;
}

.bokses__content:hover img{
    display: block;
}

.bokses__content .box{
    width: 70%;
}

/*?bloks__btn*/

.blocks__btn{
    display: flex;
    flex-wrap: wrap;
}

.blocks__btn .btn--white{
    padding: 13px 20px;
    margin-bottom: 10px;
}

.blocks__btn a{
   font-weight: 300;
}

.blocks__btn .bt-w{
    margin: 0 0 10px 0;
}

.blocks__btn .btn--white:hover{
    color: black;
}

.blogs__box-small .form-group , .btn-primary{
    width: 100%;
}


.blogs__box-small input{
    height: 50px;
    border-color: #e8e8e8;
    border-radius: 0;
}

.blogs__box-small .btn-primary{
    height: 50px;
    background-color: #4285f4;
    border-color: #2c6cd6;
    color: white;
}

.cotnacts__box .subtext{
    text-align: center;
    color: #cccccc;
    border: none;
    margin-top: 20px;
    padding: 0;
}

.small__content{
    display: flex;
    flex-wrap: wrap;
}

.small__content .pic{
    width: 31.3%;
    height: 107px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
    margin-right: 10px;
    margin-bottom: 10px;
}

.small__content .pic-mr{
    margin-right: 0;
}

.text__bot{
    font-weight: 300;
    border-bottom: 1px solid #ebebeb;

    margin-top: 20px;
    padding-bottom: 20px;
}




/*!================BLUE=======================*/

.blue{
    background-color: #35c2ea;
}

.blue .container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    padding: 75px 0;
}

.blue__title{
    font-size: 30px;
    color: white;
}

.blue .btn--transparent{
    color: white;
    padding: 22px 54px;
    background-color: transparent;
    border: 1px solid white;
}

.blue .btn--transparent:hover {
    color: white;
    border-color: black;
}


























/*!==============MEDIA==================*/

@media (max-width: 1170px){
   
    /*====Intro===*/

    .intro .title{
        font-size: 50px;
    }

    .intro .subtitle{
        font-size: 25px;
    }

    /*blogs*/

    .blogs .container{
        padding: 0 20px;
    }

    .blogs__box{
        width: 55%;
    }

    .blogs__box-small{
        width: 40%;
    }

    /*blue*/

    .blue .container{
        padding: 20px 40px;
    }

    .blue__title{
        font-size: 20px;
    }

    .blue .btn{
        padding: 10px 20px;
    }

    .blue a{
        font-size: 10px;
    }
}


@media (max-width: 950px){

    .intro .container{
        height: auto;
        padding: 100px 0;
    }
    
    .intro{
        height: auto;
    }
    

    /*blogs*/

    .blogs__box .picture{
        height: 350px;
    }

    .picture--third{
        height: 350px;
    }

    .picture__text{
        font-size: 25px;
        padding: 50px;
    }

    .blogs__box iframe{
        width: 100%;
        height: 350px;
    
    }

    .blogs__box-small .input{
        width: 280px;
    }

    .blocks__btn .btn--white{
        padding: 10px 11px;
    }

    .small__content .pic{
        width: 30%;
        height: 75px;
    }
}


@media (max-width: 768px){
    
    /*====Intro===*/

    .intro .title{
        font-size: 35px;
    }

    .intro .subtitle{
        font-size: 20px;
    }

    /*blogs*/

    .blogs{
        background: none;
    }

    .blogs__box{
        width: 100%;
    }
    
    .blogs__box-small{
        width: 100%;
        padding: 0 10px;
    }
    .item__img{
        display: none;
    }

    .bokses__content .item{
        height: 150px;
    }

    .bokses__content .title{
        font-size: 15px;
    }

    .blocks__btn .bt-w{
        margin-right: 10px;
    }

    .small__content .pic{
        height: 130px;
    }

    /*blue*/

    .blue .container{
        padding: 20px 20px;
    }

    .blue__title{
        font-size: 15px;
    }

    /*footer*/
    .footer .container{
        text-align: center;
        padding: 20px;
    }
}


@media (max-width: 550px){


    /*====Intro===*/
    
    .intro .title{
        font-size: 25px;
    }
    
    .intro .subtitle{
        font-size: 15px;
        padding-top: 0;
    }
    
    /*blue*/
    
    .blue .container{
        padding: 20px 10px;
    }
    
    .blue__title{
        font-size: 10px;
    }
    
    .blue a{
        font-size: 7px;
    }

    .bokses__content .item{
        height: 120px;
    }

    .small__content .pic{
        height: 110px;
    }

    .social .container{
        text-align: center;
    }
    }


    @media (max-width: 386px){

        /*====Intro===*/
        .intro .title{
            font-size: 17px;
        }
    
        .intro .subtitle{
            font-size: 10px;
            padding: 0;
        }
    
        .intro .container{
            padding: 50px 0;
        }

        .blogs__box .picture{
            height: 240px;
        }

        .blogs__name .name{
            font-size: 8px;
        }

        .blogs__name .time{
            font-size: 8px;
        }

        .blogs__box a{
            font-size: 10px;
        }

        .btn--grey{
            padding: 10px 10px;
        }

        .btn--white{
            padding: 10px 10px;
            margin-right: 5px;
        }

        .blogs__box .title{
            font-size: 20px;
        }

        .blogs__box .text{
            font-size: 12px;
        }

        .subtext{
            font-size: 10px;
            line-height: 2em;
        }

        .blogs__box iframe{
            width: 100%;
            height: 240px;
        }
        
        .picture--third{
            height: 240px;
        }

        .picture__text{
            font-size: 15px;
            padding: 20px;
        }

        .page-link a{
            font-size: 7px;
        }

        .bokses__content .title{
            font-size: 12px;
        }

        .bokses__content .item {
            height: 100px;
        }

        .blogs__box-small .input {
            width: 250px;
        }

        .small__content .pic {
            height: 80px;
        }




    
        /*blue*/
    
        .blue .container{
            padding: 10px 10px;
        }
    
        .blue__title{
            font-size: 7px;
        }
    
        .blue .btn{
            padding: 7px 20px;
        }
    
        .blue a{
            font-size: 7px;
        }
    }




