
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}


/*!=====================INTRO==================*/



.intro{
    height: 990px;
    background: linear-gradient( rgba(8, 8, 8, 0.7), rgba(0, 0, 0, 0.7) ), #1a273c url('../img/futuresH.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;
}

.intro .container{
    display: flex;
    flex-direction: column;
    height: 990px;
    justify-content: center;
    text-align: center;
}

.intro .title{
    font-family: Century Gothic , sans-serif;
    font-weight: 300;
    font-size: 72px;
}

.intro .subtitle{
    padding: 30px 0;
    font-size: 36px;
    color: #8b8d8f;
}


/*!================DOUBLES__SLOGAN=======================*/

.double__slogan ul{
    color: black;
    list-style: none;
    padding-inline-start: 0;
}

/*!================BLUE=======================*/

.blue{
    background-color: #35c2ea;
}

.blue .container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    padding: 75px 0;
}

.blue__title{
    font-size: 30px;
    color: white;
}

.blue .btn--transparent{
    padding: 22px 54px;
    background-color: transparent;
    border: 1px solid white;
}

.blue .btn--transparent:hover {
    color: white;
    border-color: black;
}



/*!===============SKILS=================*/

.skils__box{
    width: 40%;
    background-color: white;
    padding: 100px 100px;
}

.skils__content{
    width: 60%;   
}







/*?=====SKILSSBOX=====*/
.skils__title{
    color: black;
}

.skils__text{
    color: black;
}

.skils__t{
    color: black;
}

.skils__progress{
    width: 100%;
    height: 10px;
    border: 3px solid white;
    box-shadow: 0.5px 0.5px 1px 1px #e8e8e9;
}

.skils .bg--one{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 88%, white 88%);;
}

.skils .bg--two{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 95%, white 95%);;
}

.skils .bg--three{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 67%, white 67%);;
}

.skils .bg--four{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 80%, white 80%);;
}

/*!=====sponsors======*/
.sponsors{
    padding: 70px 0;
    display: flex;
    justify-content: space-around;

    background-color: #373c46;
}

.sp__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}





/*!==============MEDIA==================*/

@media (max-width: 1170px){
    
    /*====Intro===*/

    .intro .title{
        font-size: 50px;
    }

    .intro .subtitle{
        font-size: 25px;
    }

    /*blue*/

    .blue .container{
        padding: 20px 40px;
    }

    .blue__title{
        font-size: 20px;
    }

    .blue .btn{
        padding: 10px 20px;
    }

    .blue a{
        font-size: 10px;
    }

    /*skils*/

    .skils__box{
        padding: 50px;
    }

    .skils__c{
        margin: 50px;
    }

    /*sponsors*/
    .sponsors{
        padding: 60px 0;
    }

    .sponsors img{
        width: 70px;
    }
}


    @media (max-width: 950px){
    
    .intro .container{
        height: auto;
        padding: 100px 0;
    }

    .intro{
        height: auto;
    }
}


    @media (max-width: 768px){

    /*====Intro===*/

    .intro .title{
        font-size: 35px;
    }

    .intro .subtitle{
        font-size: 20px;
    }

    .double__slogan li{
        text-align: left;
    }

    /*blue*/

    .blue .container{
        padding: 20px 20px;
    }

    .blue__title{
        font-size: 15px;
    }

    /*skils*/

    .skils__box{
        padding: 20px;
    }

    .skils__box .btn{
        margin-top: 70px;
    }

    .skils__box a{
        font-size: 10px;
    }

    /*sponsors*/

    .sponsors{
        padding: 15px 0 0 0;
        flex-wrap: wrap;
    }

    .sp__logo{
        align-items: center;
        width: 25%;
        margin-bottom: 15px;
    }
    }




    @media (max-width: 550px){
    /*====Intro===*/

    .intro .title{
        font-size: 25px;
    }

    .intro .subtitle{
        font-size: 15px;
        padding-top: 0;
    }

    /*blue*/
    .blue__title{
        font-size: 10px;
    }

    .blue a{
        font-size: 7px;
    }

    .double__slogan .container{
        padding: 0 20px;
    }

    /*skils*/

    .skils__content{
        width: 100%;
        height: auto;
    }

    .skils__box{
        width: 100%;
    }
    }

    @media (max-width: 386px){

    /*====Intro===*/
    .intro .title{
        font-size: 17px;
    }

    .intro .subtitle{
        font-size: 10px;
        padding: 0;
    }

    .intro .container{
        padding: 50px 0;
    }

    /*double__slogan*/

    .double__slogan li{
        font-size: 10px;
    }

    /*blue*/

    .blue .container{
        padding: 10px 10px;
    }

    .blue__title{
        font-size: 7px;
    }

    .blue .btn{
        padding: 7px 20px;
    }

    .blue a{
        font-size: 7px;
    }

    /*skils*/

    .skils__c {
        margin: 20px;
    }

    /*sponsor*/

    .sponsors img{
        width: 30px;
    }
    }



