@font-face{
    font-family: open sans,futura,Century Gothic;
    src: url('fonts/openbold.ttf');
    src: url('fonts/opensem.ttf');
    src: url('fonts/Futura PT.ttf');
    src: url('fonts/Century Gothic.ttf');
    src: url('fonts/open.ttf');
}

body{
    margin: 0;
    font-family: open sans, sans-serif;
    font-weight: 100;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 100;
}

p{
    margin: 0;
}



.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.header__inner{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 30px 0; 
}

.header.fixed{
    width: 100%;
    position: fixed;

    background: white;
    z-index: 3;
}

.nav{
    display: flex;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link{
    margin-left: 40px;
    color: #333333;
    text-decoration: none;
    transition: .1s;
}

.nav__link:hover{
    text-decoration: none;
    color: #4285f4;
}














/*!=====================INTRO==================*/



.intro{
    height: 990px;
    background: linear-gradient( rgba(8, 8, 8, 0.7), rgba(0, 0, 0, 0.7) ), #1a273c url('../img/intro.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;
}

.intro .carousel{
    display: flex;
    flex-direction: column;
    height: 990px;
    justify-content: center;
    text-align: center;
}

.intro .title{
    font-family: Century Gothic , sans-serif;
    font-weight: 300;
    font-size: 72px;
}

.intro .subtitle{
    padding: 30px 0;
    font-size: 36px;
    color: #8b8d8f;
}

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 23px 55px;
    border: 0;
    cursor: pointer;
    outline: none;
     
    font-family: open sans;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.btn--black{
    margin-right: 20px;
    background-color: #20262d;
}

.btn--transparent{
    padding: 22px 54px;
    background-color: transparent;
    border: 1px solid white;
}

.btn--black:hover{
    background-color: black;
    color: white;
}

.btn--transparent:hover{
    border-color: red;
    color: white;
}

.intro li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
    









/*!=====================FEATURES==================*/

.features{
    display: flex;
    margin: 90px 0 100px;
    text-align: center; 
}

.features__item{
    width: 25%;
    margin: 0 0 0 50px ;
}

.features__item:first-child{
    margin: 0;
}

.features .title{
    margin: 32px 0 20px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.features .text{
    color: #747474;
    line-height: 2.5;
}

.features__icon{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
    border-radius: 50%;
}

.features__icon img{
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.features__icon:hover{
    background: #bdb9fe;
}




/*!================SLOGAN=======================*/


.slogan{
    width: 100%;
    height: 780px;
    background-image: url('../img/bgman.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slogan .container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.slogan__content{
    width: 47%;
}

.slogan__title{
    font-size: 36px;
}

.slogan__subtitle{
    font-size: 18px;
    color: #999999;
    line-height: 2;
}

.slogan__text{
    margin: 30px 0 40px;
    font-weight: 300;
    line-height: 2;
}

.slogan__line{
    margin: 30px 0;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.btn--blue{
    background-color: #4285f4;
}

.btn--blue i{
    margin-right: 10px;
}

.btn--blue:hover{
    background-color: #0d429a;
    color: white;
}

.slogan img{
    width: 30px;
    position: relative;
    top:185px;
    right: -50%;
}







/*!================SUBSLOGAN=======================*/



.subslogan .container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 100px 0;
}

.subslogan__title{
    margin: 0 0 30px;
    font-size: 36px;
}

.subslogan__line{
    margin: 0 auto;
    justify-content: center;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.subslogan__text{
    margin: 30px 0 0;
    font-size: 18px;
    color: #b7b7b7;
}







/*!================PORTFOLIO=======================*/

.portfolio{
    display: flex;
    flex-wrap: wrap;
}

.portfolio__item{
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    border-right: 1px solid white;
}

.portfolio__item:hover .portfolio__content{
    opacity: 1;
}


.portfolio__image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

    background-color: rgba(28, 28, 28, 0.9);
    opacity: 0;
    color: white;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: .2s linear;
}

.portfolio__title{
    margin-bottom: 30px;
    font-size: 30px;
}





/*!================GREEN=======================*/

.green{
    background-color: #82b440;
}

.green .container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    padding: 75px 0;
}

.green__title{
    font-size: 30px;
    color: white;
}

.green .btn--transparent:hover {
    border-color: black;
}





/*!================SECTION=======================*/

.section{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 20px;
    text-align: left; 
}

.section__item{
    display: flex;
    margin: 70px 0;
    width: 33.33333%;
}

.section__content{
    padding: 0 30px 0 25px;
}


.section__item img{
    width: 40px;
    height: 40px;
}

.section__title{
    margin: 0 0 25px 0;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.section__text{
    font-weight: 300;
    color: #747474;
    line-height: 2;
}







/*!================DOUBLES__SLOGAN=======================*/


.double__slogan{
    background-color: #f6f7f8;
}

.double__slogan .container{
    display: flex;
}

.double__slogan-content{
    width: 50%;
    margin: 210px 0;
}

.double__slogan-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.double__slogan-title{
    font-size: 36px;
}

.double__slogan-subtitle{
    font-size: 18px;
    color: #999999;
    line-height: 2;
}

.double__slogan-text{
    margin: 30px 0 40px;
    font-weight: 300;
    line-height: 2;
}

.double__slogan-line{
    margin: 30px 0;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}



  
/*!================SCORE=======================*/


.score{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #1f252f;
}

.score__content{
    width: 16.66666%;
    height: 270px;
    border-top: 5px solid transparent;
}

.score__line{
    margin: 0 auto;
    justify-content: center;
    width: 30px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.score__numbers{
    font-size: 60px;
    margin-top: 15%;
    margin-bottom: 25px;
}

.score__text{
    margin-top: 25px;
    color: white;
}

.score--green{
    color: #9ce08d;
}

.score--blue{
    color: #81b0ff;
}

.score--red{
    color: #f47272;
}

.score--purple{
    color: #9f7bfb;
}

.score--orange{
    color: #fbb439;
}

.score-g:hover{
    border-top: 5px solid #9ce08d;
}

.score-b:hover{
    border-top: 5px solid #81b0ff;
}
.score-r:hover{
    border-top: 5px solid #f47272;
}
.score-p:hover{
    border-top: 5px solid #9f7bfb;
}
.score-o:hover{
    border-top: 5px solid #fbb439;
}










/*!================SUBINTRO=======================*/




.subintro{
    height: 100vh;
    background: linear-gradient( rgba(8, 8, 8, 0.7), rgba(0, 0, 0, 0.7) ), #1a273c url('../img/subintro.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;
}

.subintro .carousel{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    color: white;
}

.subintro__text{
    font-size: 30px;
    margin-bottom: 55px;
}

.subintro__line{
    margin: 0 auto;
    justify-content: center;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.subintro__title{
    text-transform: uppercase;
    font-weight: bold;
    margin: 55px 0 10px 0;
}

.subintro__subtitle{
    font-weight: 300;
}

.subintro li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}





/*!================WORKS=======================*/



.works__item{
    display: flex;
    flex-wrap: wrap;
}

.works__box{
    width: 40%;
    background-color: #1f252f;
    padding: 50px 50px;
}

.works__content{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    color: black;
    background-color: #fff;
}





/*?=====WORKSBOX=====*/
.works__title{
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
}

.works__line{
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.works__subtitle{
    font-size: 18px;
    color: #b1b1b2;
    margin: 30px 0;
}

.works__text{
    font-weight: 300;
    margin-bottom: 30px;
    color: white;
}

.works li, ul{
    list-style: none;
    padding: 0 0 5px 0;
    color: white;
}

.works .btn{
    margin: 30px 0 0;
}





/*?=====WORKSCONTENT=====*/

.works__container{
    display: flex;
    width: 33.33333%;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    text-align: center;

    border-right: 1px solid #f1f0f0;
    border-top: 1px solid #f1f0f0;
}

.works__container:hover{
    box-shadow: 2px 3px 4px #000;
}

.works__icon{
    width: 65px;
    height: 65px;
    margin-bottom: 60px;
}

.works__container .works__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
}

.works__container .works__text{
    font-weight: 300;
    color: #575757;
}

.works a{
    text-decoration: none;
}

.works span{
    padding-right: 5px;
}



/*!===============PARTNERS=================*/

.partners{
    width: 100%;
    height: 1100px;
    background-image: url('../img/partnersBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;

    text-align: center;
}

.partners__title{
    padding: 100px 0 30px;
    font-size: 36px;
}

.partners__line{
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.partners__text{
    padding-top: 30px;
    font-size: 18px;
    color: #b0afb1;
}

.partners__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.partners__box{
    display: flex;
    width: 25%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.partners__content img{
    width: 170px;
}

.partners--one,
.partners--two,
.partners--three,
.partners--four{
    padding-bottom: 40px;
    border-bottom: 1px solid #cac8d0;
}

.partners--five,
.partners--six,
.partners--seven,
.partners--eight{
    padding-top: 40px;
}

.partners--one,
.partners--five{
    border-right: 1px solid #cac8d0;
}

.partners--three,
.partners--seven{
    border-left: 1px solid #cac8d0;
    border-right: 1px solid #cac8d0;
}









/*!===============PRICE=================*/


.price .container{
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    color: #c5c5c5;
    padding: 100px 0;
}

.price__content{
    display: flex;
}

.price__box{
    width: 33.333%;
    margin-left: 5px;
    border: 1px solid #eaeaea;
    padding: 55px 70px 45px;
    background-color: white;
}

.price__box:first-child{
    margin-left: 0;
}

.price__title{
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
}

.price__line{
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.price__subtitle{
    font-size: 18px;
    margin: 30px 0 70px;
}

.price .title{
    font-size: 33px;
    color: black;
    padding-bottom: 30px;
}

.price .line{
    margin: 0 auto;
    width: 70px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.price .subtitle{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eaeaea;
}

.price span{
    color: #4285f4;
}

.price .text{
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding-top: 30px;
    margin-bottom: 20px;
}

.price__box span{
    color: #82b440;
    margin-right: 7px;
}

.price .subtext{
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid #eaeaea;
    padding: 0 0 30px 0;
}

.price .btn{
    margin: 0 auto;
    margin-top: 30px;
}

.price .btn--blue{
    width: 220px;
    height: 55px;
    border: 1px solid #2c6cd6;
}

.price a{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.price__box:hover{
    transition: 0.1s;
    transform: scale(1.1);
    border-top: 5px solid #c7b6fd;
}

.price__box:hover .btn{
    background-color: #82b440;
    border-color: #75a931;
}







/*!===============VIDEO=================*/


.video iframe{
    width: 100%;
    height: 800px;
}







/*!===============SKILS=================*/


.skils__item{
    display: flex;
    flex-wrap: wrap;
}

.skils__box{
    width: 40%;
    background-color: #1f252f;
    padding: 100px 100px;
}

.skils__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    color: black;
    background-color: #fff;
}

.skils__c{
    margin: 100px;
}




/*?=====SKILSCONTENT=====*/

.skils__content .skils__title{
    color: black;
    font-size: 36px;
}

.skils__content .skils__text{
    color: #b7b7b7;
    font-size: 18px;

    margin-top: 30px;
    margin-bottom: 70px;
}

.skils__b{
    display: flex;
    width: 100%;
}

.skils__block{
    width: 50%;
    margin-left: 30px;
}

.skils__block:first-child{
    margin: 0;
}

.skils__block img{
    border: 1px solid #e9e7e7;
    width: 100%;
    height: 290px;

    margin-bottom: 30px; 
}

.skils__block .title{ 
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.skils__block .text{
    font-weight: 300;
    color: #575757;
    margin-bottom: 70px;
}

.skils__c i{
    margin-right: 10px;
}

.skils__c a{
    text-decoration: none;
}





/*?=====SKILSSBOX=====*/
.skils__title{
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
}

.skils__line{
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.skils__subtitle{
    font-size: 18px;
    color: #b1b1b2;
    margin: 30px 0;
}

.skils__text{
    font-weight: 300;
    margin-bottom: 30px;
    color: white;
}

.skils__t{
    width: 90%;
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 40px;
}

.skils__progress{
    width: 100%;
    height: 6.5px;
    border: 0.5px solid black;
}

.skils .bg--one{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 88%, #010004 88%);
}

.skils .bg--two{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 95%, #010004 95%);
}

.skils .bg--three{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 67%, #010004 67%);
}

.skils .bg--four{
    background: linear-gradient(to right, #2ee3fe 20%, #9dc3fe 40%, #cab5fd 80%, #010004 80%);
}

.skils .btn{
    margin: 70px 0 0;
}

.title__procent{
    display: flex;
}

.procent{
    display: none;
    
}

.title__procent:hover .procent{
    display: flex;
    width: 10%;
    margin: 40px 0 15px;
    flex-direction: column;
    justify-content: center;
    color: #5b5d61;

    text-align: right;
}





/*!==============INTRO--SECOND==================*/

.intro--second{
    height: 100vh;
    background: linear-gradient( rgba(8, 8, 8, 0.7), rgba(0, 0, 0, 0.5) ), #1a273c url('../img/introSecond.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;

    text-align: center;
}

.intro--second .carousel{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.intro--second li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.intro--second i{
    margin-bottom: 70px;
}

.intro--second a{
    color: white;
}









/*!==============BLOG==================*/

.blog{
    text-align: center;
}

.blog .container{
    margin: 0 auto;
    padding: 100px 0;
}

.blog__title{
    font-size: 36px;
    color: black;
    margin-bottom: 30px;
}

.blog__line{
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.blog__text{
    font-size: 18px;
    color: #c5c5c5;
    margin: 30px 0 70px;
}

.blog__content{
    display: flex;
    text-align: left;

    margin-bottom: 70px;
}

.blog__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blog--b{
    margin-right: 30px;
    border: 1px solid black;
    padding: 485px 50px 50px;

    background: linear-gradient(45deg, #020c0f, #bfb9fe);
}

.blog__block{
    border: 1px solid black;
}

.blog--bl{
    margin-top: 30px;
    padding: 155px 50px 50px;

    background: linear-gradient(45deg, #020c0f, #bfb9fe);
}

.blog--bl:first-child{
    margin: 0;
}

.blog__content .blog__title{
    font-size: 24px;
    font-weight: 600;
    color: white;

    margin: 25px 0;
}

.blog__content .blog__name{
    font-weight: 600;
    color: #cccccc;
}

.blog .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 210px;
    height: 50px;
}

.blog .btn--blue{
    padding: 0;
}

.blog__content a{
    text-transform: none;
}

.blog i{
    padding-right: 10px;
}

.blog a{
    font-size: 18px;
    font-weight: 600;
}




/*!==============CONTACTS==================*/

.contacts .container{
    padding: 100px 0;
}

.contacts{
    text-align: center;
    background-color: #15181d;
}

.contacts__title{
    font-size: 36px;
    color: white;
    margin-bottom: 25px;
}

.contacts__line{
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.contacts__text{
    font-size: 18px;
    color: #999999;
    margin-top: 25px;
    margin-bottom: 70px;
}

.form-group{
    margin: 0 auto;
    width: 43%;
    margin-bottom: 20px;
    
}

.form-group input{
    height: 60px;
    background: transparent;
    border-color: #444957;
}

.form-group input:focus{
    background: transparent;
}

.contacts .btn {
    width: 43%;
}

.contacts span{
    margin-right: 10px;
}

.contacts__subtext{
    margin-top: 50px;
    color: #666666;
}




/*!==============FOOTER==================*/

.footer{
    background-color: #242427;
}

.footer .container{
    display: flex;
    justify-content: center;
    text-align: left;
    color: #8d8d8d;
    padding: 120px 0;
}

.footer__box{
    width: 25%;
    padding-left: 100px;
}

.footer__box:first-child{
    padding: 0;
}

.footer-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-first img{
    margin: 0 auto;
    width: 80px;
    margin-bottom: 30px;
}

.footer__logo-t{
    text-transform: uppercase;
    font-size: 30px;
    font-family: futura;
    font-weight: bold;
    color: white;
}

.footer__logo-s{
    font-size: 11px;
}

.footer__title{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer__text{
    font-weight: 300;
    margin-bottom: 20px;
}




/*!==============SOCIAL==================*/

.social{
    background-color: #1a1a1d;
}

.social .container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.social__title{
    color: #666666;
    font-weight: 300;
}

.social__title span{
    color: #999999;
    font-weight: 600;
}

.social__icon i{
    color: #999999;
    margin-left: 30px;
}

.social__icon i:hover{
    color: white;
}





/*====menu__side====*/

.menu{
    display: none;
    padding: 0;
    padding-right: 10px;
    align-items: center;
    background: none;
    border: 0;

    cursor: pointer;
}

.menu__item{
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background-color: black;
    border-radius: 5px;
}

.menu__item:first-child{
    margin-top: 0;
}





/*!==============MEDIA==================*/

@media (max-width: 1170px){

    /*=====logo====*/
    .header__logo{
        margin-left: 30px;
    }

    /*====Nav====*/

    .nav{
        padding-right: 30px;
    }

    .nav__link{
        margin-left: 20px;
    }

    /*====Intro===*/

    .intro .title{
        font-size: 50px;
    }

    .intro .subtitle{
        font-size: 25px;
    }

    .intro .carousel-control-prev, .carousel-control-next{
        display: none;
    }

    /*====features====*/
    .features__icon{
        height: 120px;
        width: 120px;
    }

    .features__item .text{
        font-size: 11px;
    }


    /*====slogan====*/

    .slogan{
        height: auto;
        padding: 20px 0;
    }
    .slogan img{
        display: none;
    }

    .slogan__content{
        margin-left: 30px;
    }

    .slogan__title{
        font-size: 25px;
    }

    .slogan__subtitle{
        font-size: 15px;
    }

    .slogan__text{
        font-size: 10px;
    }

    .slogan .btn{
        padding: 10px 20px;
    }

    .slogan a{
        font-size: 10px;
    }


    /*====subslogan====*/

    .subslogan .container{
        padding: 20px 0;
    }

    /*green*/

    .green .container{
        padding: 20px 40px;
    }

    .green__title{
        font-size: 20px;
    }

    .green .btn{
        padding: 10px 20px;
    }

    .green a{
        font-size: 10px;
    }

    /*section*/

    .section__item{
        width: 50%;
        margin-bottom: 20px;
    }

    .section{
        margin: 20px 30px;
    }

    .section-i{
        padding-right: 0;
    }

    /*score*/

    .score{
        padding: 0 10px;
    }

    .score__content{
        height: 170px;
    }

    .score__numbers{
        margin: 0;
    }

    /*partners*/

    .partners{
        height: auto;
        padding: 50px 0;
    }

    .partners__title{
        padding: 0;
    }

    /*price*/

    .price__content{
        padding: 30px;
    }

    .price__box{
        padding: 20px;
    }

    /*skils*/

    .skils__box{
        padding: 50px;
    }

    .skils__c{
        margin: 50px;
    }

    .skils__t{
        font-size: 12px;
    }

    .procent{
        font-size: 12px;
    }

    /*blog*/

    .blog__content{
        padding: 0 20px;
    }

    .blog--b{
        padding-top: 435px;
    }

    .blog--bl{
        padding-top: 135px;
    }

    

    /*footer*/

    .footer .container{
        padding: 100px 30px;
    }

    .footer__title{
        font-size: 15px;
    }

    .footer__box{
        padding: 0 0 0 10px;
    }

    /*social*/

    .social .container{
        padding: 40px 30px;
    }

    
}




@media (max-width: 950px){

    /*nav*/
    .nav{
        display: none;
        width: 30%;
        height: 100vh;
        padding-top: 30px;
        flex-direction: column;
        text-align: left;
        position: absolute;
        top: 90px;
        left: 0 ;

        z-index: 1000;

        background-color: white;
    }

    .nav__link{
        margin: 0;
        padding: 10px 15px;
    }

    .nav.show{
        display: flex;
    }

    /*===menu====*/

    .menu{
        display: block;
    }

    /*intro*/

    .intro li{
        height: 7px;
        width: 7px;
    }

    /*double__slogan*/

    .double__slogan .container{
        flex-wrap: wrap;
    }

    .double__slogan-content{
        margin: 0 0 30px 0;
        width: 100%;
        text-align: center;
    }

    .double__slogan-line{
        margin: 0 auto;
    }

    .double__slogan .btn{
        padding: 15px 50px;
    }

    .double__slogan a{
        font-size: 10px;
    }

    /*score*/

    .score__content{
        display: flex;
        height: 130px;
        flex-direction: column;
        justify-content: center;
    }

    .score__numbers{
        font-size: 30px;
    }

    .score__text{
        font-size: 7px;
    }

    /*subintro*/

    .subintro{
        height: auto;
    }

    .subintro .carousel{
        height: auto;
        padding: 40px 0;
    }

    .subintro__text{
        font-size: 25px;
    }

    .subintro__title{
        margin-top: 10px;
    }

    .subintro li{
        height: 7px;
        width: 7px;
    }

    /*works*/

    .works__box{
        padding: 10px;
    }

    .works__box a{
        font-size: 10px;
    }

    /*price*/

    .price .container{
        padding: 20px 30px;
    }

    .price__subtitle{
        margin-bottom: 20px;
    }

    .price__content .title{
        padding-bottom: 10px;
    }

    .price__content .subtitle{
        font-size: 15px;
        padding: 10px 0;
    }

    .price__content .text{
        font-size: 13px;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .price__content a{
        font-size: 10px;
    }

    .price__content .btn{
        width: 170px;
        padding: 7px 10px;
    }

    /*skils*/

    .skils__box{
        padding: 20px;
    }

    .skils__c{
        margin: 20px;
    }

    .skils__block img{
        height: 140px;
    }

    .skils__content .skils__text{
        margin-bottom: 15px;
    }

    .skils__content .skils__title{
        font-size: 25px;
    }

    .skils__t{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .title__procent:hover .procent{
        margin: 15px 0 5px;
        font-size: 7px;
    }

    .skils__title{
        font-size: 25px;
    }

    .skils .btn{
        padding: 10px 30px;
    }

    /*intro--second*/

    .intro--second{
        height: auto;
    }

    .intro--second .carousel{
        height: auto;
        padding: 40px;
    }

    .intro--second li{
        width: 7px;
        height: 7px;
    }

    /*blog*/

    .blog__content{
        flex-wrap: wrap;
    }

    .blog__text{
        margin-bottom: 20px;
    }

    .blog__box{
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .blog--b, .blog--bl{
        padding: 20px 10px;
    }

    .blog__block{
        margin-top: 10px;
    }

    /*contacts*/

    .contacts .container{
        padding: 20px;
    }

    .contacts br{
        display: none;
    }

    /*footer*/

    .footer-first img {
        width: 60px;
    }

    .footer__logo-t{
        font-size: 20px;
    }

    .footer__text{
        font-size: 12px;
    }

    /*social*/

    .social .container{
        padding: 10px 20px;
        align-items: center;
    }

    .social__title{
        font-size: 8px;
    }

    .social__icon i{
        margin-left: 5px;
    }
    

}




@media (max-width: 768px){

    /*nav*/
    .nav{
        width: 50%;
        top: 40px;
        
    }
    
    /*====Intro===*/
    .intro{
        height: auto;   
    }

    .header__inner{
        padding: 10px 5px;
    }

    .intro .carousel{
        height: auto;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .intro .title{
        font-size: 35px;
    }

    .intro .subtitle{
        font-size: 20px;
    }

    /*===btn===*/
    .btn{
        padding: 10px 20px;
    }

    /*====features====*/

    .features{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .features__icon{
        height: 100px;
        width: 100px;
    }

    .features__icon img{
        width: 20px;
        height: 20px;
    }

    .features__item{
        margin-left: 0;
    }

    .features__item .title{
        font-size: 15px;
    }

    .features__item .text{
        font-size: 10px;
    }

    /*slogan*/

    .slogan__title{
        font-size: 20px;
    }

    .slogan__text{
        margin: 20px 0;
    }

    /*portfolio*/
    
    .portfolio__item{
        height: 200px;
    }
    .portfolio__title{
        font-size: 15px;
    }

    .portfolio__text{
        font-size: 10px;
    }

    /*green*/

    .green .container{
        padding: 20px 20px;
    }

    .green__title{
        font-size: 15px;
    }

    /*section*/

    .section__item{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .section__title{
        font-size: 12px;
    }

    .section__text{
        font-size: 10px;
    }

    /*double__slogan*/

    .double__slogan-subtitle{
        font-size: 13px;
    }

    .double__slogan-text{
        font-size: 11px;
        margin: 20px 0;
    }

    /*score*/

    .score-g:hover{
        border-top: 3px solid #9ce08d;
    }
    
    .score-b:hover{
        border-top: 3px solid #81b0ff;
    }
    .score-r:hover{
        border-top: 3px solid #f47272;
    }
    .score-p:hover{
        border-top: 3px solid #9f7bfb;
    }
    .score-o:hover{
        border-top: 3px solid #fbb439;
    }

    /*suintro*/

    .subintro .container{
        padding: 0 20px;
    }


    /*works*/

    .works__container{
        width: 50%;
    }

    .works__icon{
        margin-bottom: 20px;
    }

    /*partners*/

    .partners__content{
        margin-top: 30px;
    }

    .partners__box img{
        width: 120px;
    }


    /*price*/

    
    .price__content .title{
        font-size: 15px;
    }

    .price__content .subtitle{
        font-size: 8px;
        padding: 10px 0;
    }
    .price__content .subtext{
        font-size: 7px;
        padding: 0;
    }

    .price__content .text{
        font-size: 7px;
        padding: 10px 0;
        margin-bottom: 0;
    }

    .price__content a{
        font-size: 5px;
    }

    .price__content .btn{
        width: 80px;
        height: 30px;
    }
    /*video*/
    .video iframe{
        width: 100%;
        height: 400px;
    }

    /*skils*/

    .skils__content .skils__text{
        font-size: 13px;
        margin: 10px 0;
    }

    .skils__subtitle{
        font-size: 13px;
        margin: 10px 0;
    }

    .skils__box{
        padding: 20px;
    }

    .skils__t{
        margin: 10px 0 5px;
        font-size: 10px;
    }

    .skils__text{
        font-size: 13px;
        margin-bottom: 10px;
    }

    .skils__block .text{
        font-size: 12px;
        margin-bottom: 20px;
    }

    .skils__block .title{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .skils .btn{
        margin-top: 20px;
    }

    .title__procent:hover .procent{
        margin: 10px 0 5px;
        font-size: 10px;
    }

    /*intro--second*/

    .subintro__text{
        font-size: 15px;
        margin-bottom: 30px;
    }

    .subintro__title{
        font-size: 10px;
        margin-bottom: 0;
    }

    .intro--second i{
        height: 10px;
        margin-bottom: 50px;
    }

    .intro--second .fa-5x{
        font-size: 3em;
    }

    /*contacts*/

    .contacts__title{
        font-size: 25px;
    }

    .contacts__text{
        font-size: 15px;
    }

    .form-group{
        width: 80%;
    }

    .contacts .btn{
        width: 80%;
    }

    /*footer*/

    .footer-first img {
        width: 50px;
    }

    .footer .container{
        flex-wrap: wrap;
        text-align: center;
        padding: 20px;
    }

    .footer__box{
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }

    .footer__title{
        margin-bottom: 10px;
    }

    .footer__text{
        margin-bottom: 0;
    }

}




@media (max-width: 550px){


    /*=====logo====*/
    .header__logo img{
        width: 150px;
    }

    .header__logo{
        margin: 0;
    }

    /*====Intro===*/

    .intro .title{
        font-size: 25px;
    }

    .intro .subtitle{
        font-size: 15px;
        padding-top: 0;
    }

    /*====features====*/

    .features{
        margin: 0 auto;
        width: 100%;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .features .container{
        flex-wrap: wrap;
    }

    .features__icon{
        margin-top: 10px;
    }

    .features__item{
        width: 100%;
    }

    .features__item .title{
        margin: 5px 0 0 0;
    }

    /*slogan*/

    .slogan__title{
        font-size: 15px;
    }

    .slogan__line{
        margin: 10px 0;
    }

    .slogan__subtitle{
        font-size: 10px;
    }
    .slogan__text{
        margin: 10px 0;
        font-size: 7px;
    }

    /*====subslogan====*/

    .subslogan__title{
        font-size: 25px;
        margin-bottom: 15px;
    }

    .subslogan__text{
        font-size: 10px;
    }

    .portfolio__item{
        width: 50%;
        height: 200px;
    }

    /*green*/

    .green .container{
        padding: 20px 10px;
    }

    .green__title{
        font-size: 10px;
    }

    .green a{
        font-size: 7px;
    }

    /*section*/

    .section{
        margin: 10px 5px;
    }

    .section__item img{
        width: 20px;
        height: 20px;
    }

    .section__title{
        font-size: 8px;
        margin-bottom: 10px;
    }

    .section__text{
        font-size: 7px;
    }

    /*double__slogan*/

    .double__slogan-title{
        font-size: 20px;
    }


    /*score*/

    .score__content{
        height: 100px;
    }

    .score__numbers{
        font-size: 20px;
    }

    .score__text{
        margin-top: 10px;
        font-size: 5px;
    }

    /*subintro*/

    .subintro__text{
        font-size: 15px;
    }

    /*works*/

    .works__box{
        width: 100%;
    }

    .works__content{
        width: 100%;
    }

    .works__container{
        width: 50%;
    }

    .works__title{
        font-size: 25px;
    }

    .works__icon{
        margin-top: 10px;
        width: 30px;
        height: 30px;
    }

    .works__subtitle{
        font-size: 10px;
        margin: 10px 0;
    }

    .works__box li{
        font-size: 10px;
    }

    .works__text{
        font-size: 10px;
    }

    .works__content .works__title{
        margin-bottom: 10px;
    }

    .works__content .works__text{
        margin-bottom: 10px;
    }

    .works .btn{
        margin-top: 10px;
    }

    /*partners*/

    .partners__box{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .partners__box img{
        width: 70px;

    }

    /*price*/

    .price__subtitle{
        font-size: 10px;
        margin-top: 10px;
    }

    .price__content{
        flex-wrap: wrap;
        padding: 5px;
    }

    .price__box{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
    }

    .price__box:first-child{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
    }

    /*video*/
    .video iframe{
        width: 100%;
        height: 300px;
    }

    /*skils*/

    .skils__content{
        width: 100%;
        height: auto;
    }

    .skils__box{
        width: 100%;
    }
    
    /*blog*/
    
    .blog .btn{
        width: 100%;
    }

    .blog .container{
        padding-top: 30px;
    }

    /*contacts*/

    .contacts__title{
        font-size: 20px;
    }

    .contacts__text{
        font-size: 13px;
    }

    .form-group{
        width: 90%;
    }

    /*footer*/

    .footer .container{
        padding: 20px 10px;
    }

    /*social*/

    .social .container{
        text-align: center;
        flex-wrap: wrap;
    }

    .social__title{
        width: 100%;
        font-size: 5px;
    }

    .social__icon{
        width: 100%;
    }
    


}




@media (max-width: 386px){

    /*====header===*/

    .header__inner{
        padding: 10px;
    }

    /*====Intro===*/
    .intro .title{
        font-size: 17px;
    }

    .intro .subtitle{
        font-size: 10px;
    }

    .intro a{
        font-size: 7px;
    }

    /*===btn===*/
    .btn{
        padding: 7px 15px;
    }

    /*slogan*/

    .slogan__content{
        width: 50%;
        margin-left: 10px;
    }

    /*green*/

    .green .container{
        padding: 10px 10px;
    }

    .green__title{
        font-size: 7px;
    }

    .green .btn{
        padding: 7px 20px;
    }

    .green a{
        font-size: 7px;
    }

    /*section*/

    .section__text{
        font-size: 5px;
    }

    /*score*/

    .score{
        height: 100px;
    }

    .score__text{
        font-size: 3px;
    }


    /*works*/

    .works__title{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .works__icon{
        width: 20px;
        height: 20px;
        margin: 10px 0;
    }

    .works__subtitle{
        font-size: 7px;
        margin: 10px 0;
    }

    .works ul{
        margin-bottom: 0;
    }

    .works__box li{
        font-size: 7px;
    }

    .works__text{
        font-size: 7px;
        margin-bottom: 10px;
    }

    .works__content .works__title{
        font-size: 10px;
        margin-bottom: 7px;
    }

    .works__content .works__text{
        margin-bottom: 10px;
    }

    .works .btn{
        margin-top: 10px;
    }

    .works__content a{
        font-size: 7px;
    }

    /*skils*/

    .skils__content{
        height: auto;
    }

    .skils__content .skils__title, .skils__title{
        font-size: 15px;
    }

    .skils__block .text{
        font-size: 8px;
    }

    /*intro--second*/

    .intro--second .subintro__text{
        font-size: 10px;
        margin-bottom: 20px;
    }

    .intro--second .subintro__title{
        font-size: 7px;
        margin-bottom: 0;
    }

    .intro--second .subintro__subtitle{
        font-size: 8px;
    }

    .intro--second i{
        margin-bottom: 30px;
    }

    /*contacts*/

    .contacts__title{
        font-size: 15px;
    }

    .contacts__text{
        font-size: 10px;
        margin-bottom: 20px;
    }

    .form-group{
        width: 96%;
    }

    
    
  

    


}