@import "/components/main/__service/__title/title.css";
.service{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 5% 10%;
  padding: 5% 0;
  border-bottom: 0.5vw solid rgb(48, 48, 48);
}