.title{
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
.title img{
  width: 80%;
  margin: 5% 10%;
}
.title a{
  text-decoration: none;
}
.title h1{
  font-size: 32pt;
  color: rgb(51, 51, 51);
  width: 80%;
  margin: 2% 10%;
}
.title h2{
  font-size: 12pt;
  color: rgb(151, 151, 151);
  width: 80%;
  margin: 5% 10%;
}
.title a:hover h1{
  color: rgb(255, 255, 255);
}
.title a:hover h2{
  color: rgb(255, 255, 255);
}
.title a:hover{
  background-color: rgb(118, 195, 143);
}