.header {
   padding: 20px;
   display: flex;
   background-color: $darkGrey;
   color: $white;
   justify-content: space-around;
}
.headerTitle{
   font-size: 60px;
}
.headerMenu {
   padding-top: 20px;
   display: flex;
   font-size: 16px;
   line-height: 2.63;
   li {
      margin-left: 20px;
      a{
         transition: .2s;
         color: $white;
         text-decoration: none;
      };
      a:hover{
         transition: .2s;
         color: $blue;
      };
   };
};