@import "./../../__colors/color.scss";
footer{
  width: 100%;
  .container-address{
    width: 100%;
    background-color: $bg-footer-address;
    .address{
      width: 70%;
      margin: 0 15%;
      padding: 10% 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &_item{
        display: block;
        width: 25%;
        // padding: 0 1%; 
        h1{
          color: $fontwithe;
          font-family: OpenSans;
          font-size: 18px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
        }
        p{
          font-family: OpenSans;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.14;
          letter-spacing: normal;
          text-align: left;
          color: $fontgray;
        }
      }
    }
  }
  .container-social{
    width: 100%;
    background-color: $bg-footer-social;
    .social{
      width: 70%;
      padding: 1% 0;
      margin: 0 15%;
      display: flex;
      justify-content: space-between;
      
      &__title{
        width: 80%;
        p{
        color: $fontdarkgray;
        }
        span{
          color: $fontgray;
        }
      }
      &__icon{
        width: 20%;
        a{
          color: $fontgray;
          margin: 0 3%;
        }
        a:hover{
          color: $fontwithe;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .footer{
    .container-address{
      .address{
        &_item{
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer{
    .container-address{
      .address{
        &_item{
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  }