.container, .container__item {
  outline: 1px solid black;
  padding: 20px;
}

.container {
  display: grid; /*inline-grid*/
  /* justify-content: start; - как и для флексов, только без приставки flex*/
  /* justify-self: center
    align-self: center - для одной ячейки*/
  grid-template-rows: 1fr 2fr 3fr; /* step  */
  /* grid-template-columns: 1fr 2fr 3fr; */ /* step  */
  grid-template-columns: minmax(200px, 50%) 3fr 3fr; /* step  */
  /* grid-template-rows: repeat(3, 1fr); /*  - для повторяющегося контента */ /* step  */
  grid-template-columns: 5fr repeat(3, 1fr) 5fr; /* step  */
  grid-row-gap: 20px; /* step  */
  grid-column-gap: 20px; /* промежутки между колонками */
  /* grid-gap: 120px; общий для всех, может быть парный grid-gap: 120px 20px; (row, column)*/
}

.container__item:first-of-type {
  grid-column-start: 1; /* эти два свойства объединяют ячейку по строке, можно переставлять, пример ниже*/
  grid-column-end: 3; /* задать тут большое значени - растянуть на всю строку*/
  grid-row-start: 1; /* эти два свойства объединяют ячейку по колонке*/
  grid-row-end: 4;

  /*grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;*/

  /* grid-row: 1/3;
  grid-column: 1/4; STEP [ ; )*/

  /* grid-area: 1/1/3/4; /*start, end, row, column - сокращенный вариант*/
}
