.header, .main, .footer {
  outline: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2%;
}

.header {
  background-color: gray;
}

.header__item {
  flex: 1 1 20%;
  margin: 1%;
  outline: 1px solid green;
  background-color: antiquewhite;
  text-align: center;
  padding: 1%;
}

.main {
  background-color: teal;
  margin-top: 1%;
}

.main__item {
  flex: 1 1 20%;
  margin: 1%;
  outline: 1px solid green;
  background-color: antiquewhite;
  text-align: center;
  padding: 1%;
}

.mainItem__head {
  font-size: 1.8em;
}

.mainItem__img {
  width: 100%;
  max-width: 100%;
}
/*самостоятельно поменять шрифты*/

.footer {
  background-color: tan;
  margin-top: 1%;
}

.footer__item {
  margin: 1%;
  outline: 1px solid brown;
  background-color: pink;
  padding: 1%;
}

.contacts {
  flex: 1 1 21%;
}

.social {
  flex: 1 1 71%;
}

@media (max-width: 768px) {
  .header__item {
    flex: 1 1 45%;
  }
  .main__item {
    flex: 1 1 100%;
  }
  .footer__item {
    flex: 1 1 100%;
  }
}

@media (max-width: 576px) {
  .header__item {
    flex: 1 1 100%;
  }
  .footer__item {
    flex: 1 1 100%;
  }
}
