body > div {
  margin-bottom: 25px;
}

.container {
  padding: 5px;
  outline: 1px solid green;
  width: 100%;
}

.container .item {
  outline: 1px solid red;
  padding: 15px;
  width: 200px;
}

/*example one -  flex-direction/justify-content */
.container-first {
  display: flex;
  flex-direction: row; /* row-reverse, column, column-reverse */
  justify-content: flex-end; /* flex-start center space-between space-around */
}
/*example one*/

/*example two - align-items */
.container-second {
  display: flex;
  align-items: flex-start; /* flex-start flex-end baseline stretch */
}
/*example two*/

/*example three flex-wrap/flex-flow */
.container-third {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap; /* nowrap, wrap-reverse */
  /* flex-flow: row nowrap - combination*/
}

.container-third .item {
  width: 500px; /* обязательно */
}
/*example three*/

/*example fourth - align-content*/
.container-fourth {
  height: 1000px;
  display: flex;
  flex-flow: column wrap;
  /* flex-direction: column; */
  align-content: center; /* flex-start flex-end space-between space-around */
  justify-content: space-between; /* flex-start center space-between space-around */
}

.container-fourth .item {
  /* width: 100px; */
  height: 100px;
}
/*example fourth*/

/* example fifth - flex-items */
.container-fifth {
  display: flex;
  height: 600px;
}

.container-fifth .item {
  flex-grow: 1;
  order: 1;
  height: 200px;
  /* flex-shrink: 1; */
  /* margin: auto 0; выравнивание по вертикали */
}

.container-fifth .item:first-of-type {
  flex-grow: 3;
  order: 2;
  /* align-self: center;  flex-start flex-end center baseline stretch*/
  /* flex-shrink: 3; */
}
/*example fifth*/

/*example sixth*/
.container-sixth {
  display: flex;
  flex-flow: row wrap;
}

.container-sixth .item {
  flex: 1 1 300px;
}
/*example sixth*/
