.footer{
  width: 100%;
  background-color: #709dca;
  display: flex;
  justify-content: center;
  span{
    padding: 0.5% 0;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}