
@font-face {
    font-family: ralin;
    src: url(font/Ralington.otf);
}

 /* body {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px ;
    box-shadow:  10px 10px 10px;
    font-size: 15pt;
    text-align: center;
} */

h1 {
    font-family: ralin;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    font-size: 60pt;
    text-align: center;
    color: #BFB9CA;
}

h2 {
    color: black;
    border-bottom: 2px solid;
    padding-top: 10px ;
    padding-bottom: 5px;
    font-size: 30px;
}

a:link, a:active, a:visited {
    color: black;
}

img {
    max-width:100%;
    max-height:50%;
    }

img[src*="mi_phone"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    text-align: center;
    padding: 20px;
}

a[href$="1024GB"], a:hover {
    text-decoration: underline;
}

a[title*="Pro"], a[title*="Max"], a[title*="10+"] {
    color: indigo;
}

a {
    text-decoration: none;
}
