// header
$font-color-header:#333333;
$font-color-header-hover:#4285f4;
// header-dark
$bg-header-dark:#363d43;
$font-color-header-dark:#ffffff !important;
$font-color-header-dark-hover:#19dfff !important;

// main
$bg-main-slider: #696969;
$bg-main-button-slider:#000000;
$bg-main-icon: #4285f4;
$font-color-main-information:#575757;
$border-button:#2c6cd6;
$bg-button:#4285f4;
$bg-color-case-one:#cad4e1;
$bg-color-case-two:#dfe1e5;
$bg-color-case-three:#202123;
$bg-color-case-four:#ebeef2;
$bg-color-case-five:#e8e8e8;
$bg-color-case-six: #dfe1e5;
$bg-color-case-seven: #f0f6fd;
$bg-color-case-eight: #cad4e1;
$bg-color-case-ten:#d1d8e0;
$bg-color-fox-business:#82b440;
$bg-color-info-job: #1f252f;
$fontgray-job:#b9b9b9;
$fontgray-job-p:#cccccc;

//bar-color
$bg-corlor-bar:#1f252f;
$font-color-bar-green:#9ce08d;
$font-color-bar-whithe-purple:#81b0ff;
$font-color-bar-pink:#f47272;
$font-color-bar-green-l:#aae980;
$font-color-bar-purple:#9f7bf9;
$font-color-bar-orange:#fbb439;


// footer
$bg-footer-address: #242427;
$bg-footer-social: #1a1a1d;
$fontwithe: #ffffff;
$fontdarkgray:#666666;
$fontgray: #999999;

//bg slider-two
$bg-slider-two:#a7b4c0;
//img color
$img-color:#dbd6dc;
//green
$price-green: #9bcb5b;
$button-hover: #82b440;
//bg-video
$bg-video:#2a3036;
//skills
$bg-color-gray: #e9e7e7;
//blog
$bg-blog:#262c39;
//form
$border-input:#444957;
//color font
$fontblack:#000000;


//demos
$bg-header-demos: #474a4e;
$bg-color-fox-business-demos: #4285f4;
$bg-video-demos:#a7b4c0;
$bg-color-partner-demos:#373c46;
//portfolio
$bg-color-design:#191d22;
$border-design:rgba(255,255,255,0.1);
$border-a-design: #1d2128;
$bg-color-case-three-green:#85b546;
$bg-info:#17191e;
//shop
$bg-fb:#2164b6;
$bg-linked:#2a8fdd;
$bg-twitter:#43d0fe;
$bg-pinter:#df5643;
$bg-google:#484540;
$bg-drib:#ee4c66;
$bg-inst:#3b9dc2;
$bg-tumblr:#547885;
//blog
$tag-border:#e6e6e6;
$border-page:#ececec;
$bg-img-blog:#e3e3e3;
$span-blog:#bababa;