@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  /* header style*/
  .header__item{
    width: 100%;
  }
  .logo{
    align-items: center;
  }
  .nav ul{
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .nav li{
    display: block;
    width: 100%;
  } 
  .info-slide a{
    width: 100%;

  }
  .carousel-item h1{
   font-size: 2em;
  }
  .carousel-item h2{
    font-size: 1.3em;
  }
  /*main style*/

  .title{
    width: 100%;
    margin: 1% auto;
  }
  .title h1{
    font-size: 2em;
  }
  .title h2{
    font-size: 1em;
  }
  .service{
    padding-bottom: 10%;
  }
  .header-work{
    margin-top: -10%;
  }
  .header-work__item{
    width: 70%;
  }
  .header-work h1{
    font-size: 1em;
  }
  .work__item{
    width: 100%;
  }
  /*footer style*/
  .containerblock{
    justify-content: center;
    flex-direction: column;
  }
  .container__item{
    width: 100%;
  }
  .elem__item h1{
    font-size: 1.5em;
  }
  .blog__item h1{
    font-size: 1.3em;
  }
  .blog__item h2{
    font-size: 1em;
  }
  .blog__item p{
    font-size: 0.9em;
  }
  .links__item a{
    font-size: 0.9em;
  }
  .tweets__item p{
    font-size: 0.9em;
  }
  .footer-span__item span{
    font-size: 0.8em;
  }
}