@media only screen and (min-device-width : 768px) and (max-device-width : 1223px) {
  /* header style*/
  .header__item{
    width: 100%;
  }
  .logo{
    align-items: center;
  }
  .nav ul{
    justify-content: space-between;
  }
  .carousel-item h1{
   font-size: 2em;
  }
  .carousel-item h2{
    font-size: 1.3em;
  }
  /*main style*/
  .title{
    width: 48%;
    margin: 1% auto;
  }
  .title h1{
    font-size: 2em;
  }
  .title h2{
    font-size: 1em;
  }

  .header-work{
    margin-top: -8.5%;
  }
  .header-work__item{
    width: 50%;
  }
  .header-work h1{
    font-size: 1.5em;
  }
  .work__item{
    width: 48%;
  }
  /*footer style*/
  .elem__item h1{
    font-size: 1.5em;
  }
  .blog__item h1{
    font-size: 1.3em;
  }
  .blog__item h2{
    font-size: 1em;
  }
  .blog__item p{
    font-size: 0.9em;
  }
  .links__item a{
    font-size: 0.9em;
  }
  .tweets__item p{
    font-size: 0.9em;
  }
  .footer-span__item span{
    font-size: 0.8em;
  }
}