@import url(./reset.css);
@import "./__elements/__header/header";
@import "./__elements/__main/main";
@import "./__elements/__footer/footer";
@import "./__elements/__media/media";


body{
  margin: 0 auto;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}