.footer__contacts {
  border: 1px solid red;
  flex: 1 1 20%;
  background-color: pink;
}

.footer__contacts_dark {
  background-color: pink;
}

.contacts {
  padding: 10px;
}

.contacts__header {
  
}

.contacts__item {
  margin-bottom: 5px;
}

.contacts_font_primary {
  color: brown;
  font-size: 2em;
  font-style: italic;
  text-decoration: underline;
}
