@font-face {
	font-family: Myriad Pro;
	src: url(../fonts/Myriad-Pro.ttf);
}

@font-face {
	font-family: Myriad Pro Bold;
	src: url(../fonts/Myriad-Pro-Bold.ttf);
}

body {
	font-family: Myriad Pro;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0;
}

nav {
	width: 100%;
	height: 134px;
	position: relative;
	background-color: rgb(51, 51, 51);
}

nav article {
	position: absolute;
	font-size: 60px;
	color: rgb(238, 238, 238);
	left: 70px;
	top: 30px;
	font-weight: bold;
}

nav ul {
	position: absolute;
	right: 70px;
	top: 60px;
}

nav li {
	margin-left: 20px;
	display: inline-block;
}

nav a {
	font-family: Arial;
	font-size: 16px;
	text-decoration: none;
	color: rgb(238, 238, 238);
}

nav a:hover {
	color: rgb(0, 174, 239);
}

.main_block {
	width: 960px;
	margin-left: 6.5%;
}

h1 {
	margin-top: 70px;
	padding-bottom: 40px;
	border-bottom: 2px dotted rgb(204, 204, 204);
}

.title_one, .title_sign {
	color: rgb(51, 51, 51);
	font-size: 60px;
	font-family: Myriad Pro Bold;
}

.title_sign {
	color: rgb(0, 191, 243);
}

.title_too {
	color: rgb(187, 187, 187);
	font-size: 50px;
}

h2 {
	margin-top: 40px;
	padding-bottom: 40px;
	color: rgb(85, 85, 85);
	font-size: 34px;
	font-style: normal;
	border-bottom: 2px dotted rgb(204, 204, 204);
}

.subtitle_one, .subtitle_too {
	font-family: Myriad Pro Bold;
}

.main_block h3, p {
	width: 240px;
}

.main_block h3 {
	margin-top: 20px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 40px;
	border-bottom: 2px dotted rgb(255, 255, 255);
}

.information_block {
	margin-top: 50px;
	padding-bottom: 50px;
	display: inline-flex;
	justify-content: center;
	border-bottom: 2px dotted rgb(204, 204, 204);
}

.web_design, .marketing, .optimization {
	background-color: rgb(0, 174, 239);
	width: 280px;
	height: 350px;
	color: rgb(255, 255, 255); 
}

.content_web_design, .content_marketing, .content_optimization {
	margin-left: 20px;
}

.information_block p {
	margin-top: 30px;
	text-align: center;
	font-size: 14px;
	font-family: Arial;
}

.button_information {
	margin-top: 35px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	display: block;
	width: 230px;
	height: 35px;
	font-size: 18px;
	background-color: rgb(0, 118, 163);
}

.marketing {
	margin-left: 60px;
}

.optimization {
	margin-left: 60px;
}

.company_block {
	margin-top: 20px;
	height: 450px;
	display: flex;
	border-bottom: 2px dotted rgb(204, 204, 204);
}

div .block_left {
	margin-top: -20px;
	height: 95%;
	flex: 1 1 50%;
	border-right: 2px dotted rgb(204, 204, 204);
}

div .block_right {
	margin-top: -20px;
	height: 95%;
	flex: 1 1 50%;
}

.company_block h4 {
	font-size: 24px;
	color: rgb(85, 85, 85);
}

.comment_one, .comment_too, .comment_three {
	width: 500px;
	height: 85px;
	display: block;
	margin-top: 40px;
}

.photo_one, .photo_too, .photo_three {
	width: 85px;
	height: 85px;
	background-color: rgb(204, 204, 204);
	display: inline-block;
}

.text_one, .text_too, .text_three {
	font-family: Arial;
	margin-left: 30px;
	text-align: justify;
	font-size: 14px;
	display: inline-block;
	width: 340px;
	height: 85px;
}

.name {
	font-weight: bold;
	color: rgb(85, 85, 85);
}

.post {
	color: rgb(0, 174, 239);
}

.block_right {
	margin-left: 50px;
}

.block_right h5 {
	margin: 15px 0px;
	font-size: 20px;
	color: rgb(136, 136, 136);
}

.block_right img {
	margin-top: 13px;
}

.block_right p {
	margin-top: 5px;
	width: 100%;
	font-family: Arial;
	font-size: 14px;
}

.block_right a {
	font-family: Arial;
	font-size: 14px;
	color: rgb(0, 174, 239);
	text-decoration: none;
}

.bottom_text {
	height: 10vh;
	font-family: Arial;
	font-size: 16px;
	margin-top: 20px;
	color: rgb(136, 136, 136);
}