@import "/components/header/__logo/logo.css";
@import "/components/header/__nav/nav.css";
@import "/components/header/__slider/slider.css";
.header{
  border-top: 0.5vh solid #76C38F;
  background-color: #290000;
}
.header-container{
  width: 80%;
  margin: 2% 10%;
  padding: 2% auto;
  margin-bottom: -5%;
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
}