*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#TrMap{
    background-image: url(../TI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1900px;
}
div#mapMark{
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    position: absolute;
    top: 1000px;
    left: 1297px;
}
