.article {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e4fdf9;
}

/* .article {
  background-color: #e4fdf9;
}

.content-article {
  flex: 0 0 33.33%;
}

.content {
  background-color: #eae8e6;
}

.content-container,
.info-conteiner {
  width: 70%;

  display: flex;

  justify-content: center;
}

.content-container {
  flex-wrap: wrap;
}

.content-article-button {
  width: fit-content;

  padding: 10px;

  border: 1px solid black;
} */
