.positionCenter {
  text-align: center;
}

.icon {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #69d2e7;
  background-image: linear-gradient(48deg, #00f0ff -22%, #ebacfd 122%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon i {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

.icnContainer {
  width: 23%;
}
