.header-top-border{
   border-top: 8px solid rgb(118, 195, 143);
};

.header{
   background-color: rgb(41, 0, 0);
};

.header__item {
   padding: 1.5% 0;
   display: -webkit-box;
   display: flex;
   -webkit-box-pack: justify;
           justify-content: space-between;
   .nav__logo{
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      font-size: 1rem;
      color: rgb(255, 255, 255);
      span{
         font-size: 0.39rem;
         color: rgb(151, 151, 151);
      };
   };
   .nav__menu_desktop {
      font-size: 0.46rem;
      color: rgb(255, 255, 255);
      padding: 1.5% 0 0;
      ul{   
         display: -webkit-box;   
         display: flex;
         li{
            padding: 19px 25px;
            a{
               text-decoration: none;
               color: rgb(255, 255, 255);
            }
         }
         li:hover{
            border-radius: 20px;
            background-color: rgb(118, 195, 143);
         }
      }
   }
   .nav__menu_mobile{
      font-size: 1rem;
      display: none;
      img{
         width: 30px;
      };
      ul{
         display: none;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
                 flex-direction: column;
         position: absolute;
         border: 1px dotted rgb(255, 255, 255);
         right: 106px;
         top: 25px;
         background-color: rgba(255, 255, 255, .3);
         li{
            text-align: center;
            padding: 4px 12px;
            a{
               text-decoration: none;
               color: rgb(255, 255, 255);
            }
         };
      };
   };
   .nav__menu_mobile-vision{
      display: -webkit-box !important;
      display: flex !important;
   };
};

.header-slider{
   padding: 5% 0;
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
           align-items: center;
};
.slider__left-arrow {
   cursor: pointer;
   img{
      width: 24px;
   }
}
.slider__right-arrow {
   cursor: pointer;
   img{
      width: 24px;
   }
};

.slider_item {
   color: rgb(255, 255, 255);
   .itemText {
      padding: 10% 5% 0 0;
      width: 35%;
      h1{
         font-size: 1.41rem;
      };
      p{
         margin: 4% 0 2%; 
         color: rgb(151, 151, 151);
         font-size: 0.36rem;
         line-height: 1.58;
      };
      a{
         background-color: rgb(118, 195, 143);
         border: 14px solid rgb(118, 195, 143);
         border-radius: 10px;
         text-decoration: none;
         color: rgb(255, 255, 255);
         font-size: 0.37rem;
      }
   }
   .itemPicture {
      background-position: center;
      width: 608px;
      height: 608px;
      background-color: rgb(51, 51, 51);
      border-radius: 50%;
      border: 20px solid rgb(107, 107, 107);
   }
};

.slider-hidden{
   display: none;
};
.slider-vision{
   display: -webkit-box;
   display: flex;
   -webkit-box-pack: center;
           justify-content: center;
};

@media only screen and (max-width : 1824px) {
   .itemPicture {
      width: 387px !important;
      height: 387px !important;
   };
};

@media only screen and (max-width : 1224px) {
   .itemPicture {
      width: 220px !important;
      height: 220px !important;
      border: 10px solid rgb(107, 107, 107) !important;
   };
   .nav__menu_desktop {
      ul{   
         li{
            padding: 10px 10px !important;
         };
      };
   };
   .slider_item {
      .itemText {
      padding: 2% 5% 0 0;
      width: 35%;
      };
   };
   .slider_item .itemText a {
      border: 7px solid #76c38f;
   };
};

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   .nav__menu_desktop {
      display: none;
   };
   .nav__menu_mobile {
      display: block !important;
   };
   .slider_item .itemText {
      padding: 7% 5% 0 0;
   };
   .slider__right-arrow img {
      width: 16px;
   };
   .slider__left-arrow img {
      width: 16px;
   };
};

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .header-top-border {
      border-top: 2px solid #76c38f;
   };
   .nav__menu_desktop {
      display: none;
   };
   .nav__menu_mobile {
      display: block !important;
   };
   .header__item .nav__menu_mobile img {
      width: 15px;
   };
   .itemPicture {
      width: 101.3px !important;
      height: 101.3px !important;
      border: 5px solid rgb(107, 107, 107) !important;
   };
   .slider__right-arrow img {
      width: 10px;
   };
   .slider__left-arrow img {
      width: 10px;
   };
   .slider_item .itemText a {
      margin-top: 10px;
      border: 2px solid #76c38f;
      font-size: 0.6rem;
   };
   .slider_item .itemText p {
      margin-bottom: 4%;
      font-size: 0.6rem;
      line-height: 1.3;
   };
};



