@import "__logo/logo.css";
@import "__nav/nav.css";

.header {
  display: flex;
  width: 90%;
  padding: 5%;
}

.header__item {
  flex: 1 1 50%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.header_theme_dark {
  border: 1px solid black;
  background-color: darkblue;
}
