.nav{
  width: 70%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
}
.nav ul{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.nav li{
  width: 12%;
  display: block;
  padding: 2% 1%;
  margin: 0 1% ;
  display: inline-block;
  text-align: center;

}
.nav a{
  color: #ffffff;
  text-decoration: none;
}
.nav li:hover{
  background-color: #76C38F;
  border-radius: 5px;
}