#button {
    padding: 10px;
    margin: 20px;
    width: 100px;
    height: 100px;
    border: 5px solid red;
    border-radius: 25%;
}

h1 {
    font-size: 40px;
    color: rgb(32, 32, 32);
}

a {
    margin: 10px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div p {
    text-align: center;
    font-size: 25px;
    color: red;
}

a[href^="http"], [href^="www"] {
    color: green;
} 

#button:active {
    border: 3px double blue;
    color: blue;
}