* {
  paddin: 0;
  margin: 0;
}

section {
  padding: 0 15%;
  margin: 150px 0;
}

.iconTitle {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #333333;
}

.iconText {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #575757;
}

.sectionTitle,
.sectionSubTitle,
.sectionText {
  margin-bottom: 20px;
}

.sectionTitle {
  font-family: OpenSans;
  font-size: 36px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

.sectionSubTitle {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  color: #999999;
}

.sectionText {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #575757;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positionCenter {
  align-items: center;
}

.positionRight {
  float: right;
}
