* {
  paddin: 0;
  margin: 0;
}

section {
  padding: 0 15%;
  margin-bottom: 150px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positionCenter {
  align-items: center;
  text-align: center;
}

.positionRight {
  float: right;
}

.circleIcon {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #69d2e7;
  background-image: linear-gradient(48deg, #00f0ff -22%, #ebacfd 122%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBigContainer {
  width: 33%;
}

.iconMiddleContainer {
  width: 27%;
  display: flex;
}

.iconSmallContainer {
  width: 24%;
}

.textCenter {
  text-align: center;
}

.textBlock {
  width: 60%;
  margin: 0 auto;
}

.smallTextBlock {
  width: 80%;
  margin: 0 auto;
}

.withoutPadding {
  padding: 0;
}
