.work{
  width: 83%;
  display: inline-flex;
  margin: 2% 10%;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: space-between;
}
.work__item{
  margin: 2% 0;
  width: 30%;
  display: flex;
}
.work__item a{
  text-decoration: none;
  color: white;
  position: relative;
  display: flex;
  border: 0.25vw solid white;
}
.work__item span{
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(21, 21, 21);
  padding: 1% 0;
}
.work__item a:hover{
  border-color: rgb(118, 195, 143);
}
.work__item a:hover span{
  display: none;
}