.links{
  display: flex;
  flex-direction: column;
}
.links__item{
  margin-top: 5%;
}
.links__item a{
  color: rgb(118, 195, 143);
  text-decoration: none;
  font-size: 13pt;
}
.links__item li{
  border-bottom: 1px solid rgb(64, 64, 64);
  padding-bottom: 3%;
}