@mixin borderBottom() {
   padding: 5% 0;
   border-bottom: 3px dotted $grey;
};
@mixin blockInformation(){
   padding: 2% 2%;
   box-shadow: 2.5px 4.3px 5px 0 rgba(170, 170, 170, 0.75);
   color: $white;
   background-color: $blue;
   h3{
      font-size: $fontSize - 20px;
      text-align: center;
      border-bottom: 2px dotted $white;
      padding: 0 0 25px;
   };
   p{
      font-size: $fontSize - 46px;
      margin: 25px 0;
      text-align: center;
      line-height: 1.5;
      font-family: Arial;
   };
   button{
      background-color: rgb(0, 118, 163);
      border: none;
      color: $white;
      line-height: 1.33;
      font-size: $fontSize - 42px;
      width: 100%;
      padding: 10px;
   };
};
@mixin blockReviewsClients(){
   display: flex;
   flex-direction: column;
   padding-right: 15px;
   border-right: 3px dotted $grey;
   div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      img{
         width: 84px;
         height: 84px;
         background-color: $grey;
      };
      div {
         width: 75%;
         height: 84px;
         display: flex;
         flex-direction: column;
         font-size: $fontSize - 46px;
         font-family: Arial;
         .reviewAuthor {
            color: $darkGrey;
            line-height: 1.5;
         };
         .nameAuthor{
            font-weight: bold;
            color: $darkGrey;
         };
         .positionAuthor{
            color: $blue;
         }
      }
   };
};
$fontSize:60px;

.main{
   padding: 0 100px;
}

.mainTitle{
   @include borderBottom();
   h1{
      font-size: $fontSize;
      font-weight: bold;
      color: rgb(51, 51, 51);
      span{
         color: rgb(0, 191, 243);
      };
   };
   h2 {
      font-size: $fontSize - 10px;
   };
};

.mainSubTitle {
   @include borderBottom();
   font-size: $fontSize - 26px;
   color: $darkGrey;
   span {
      font-weight: bold;
   };
};

.mainBlocksInformation {
   @include borderBottom();
   display: flex;
   justify-content: space-between;
   div{
      display: flex;
      flex-direction: column;
      @include blockInformation();
   };
   div:not(:first-child){
      margin-left: 20px;
   };
};

.mainBlockLastNews{
   @include borderBottom();
   display: flex;
   justify-content: space-between;
   h4 {
      margin-bottom: 20px;
      font-size: $fontSize - 36px;
      color: $darkGrey;
   };
   .lastTestimonials{
      width: 50%;
      @include blockReviewsClients();
   };
   .lastProject {
      padding-left: 15px;
      width: 50%;
      font-family: Arial;
      h5 {
         font-size: $fontSize - 40px;
         color: $mediumGrey;
      };
      img {
         margin: 15px 0;
      };
      p {
         font-size: $fontSize - 46px;
         line-height: 1.5;
         color: $darkGrey;
      };
      a{
         font-size: $fontSize - 46px;
         line-height: 1.43;
         text-decoration: none;
         color: $blue;
      };
   };
};

