.main{
  width: 100%;
  background-color: rgb(102, 0, 0)
}

.service{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 5% 10%;
  padding: 5% 0;
  border-bottom: 0.5vw solid rgb(48, 48, 48);
  .title{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 23%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    img{
      width: 80%;
      margin: 5% 10%;
    }
    a{
      text-decoration: none;
    }
    h1{
      font-size: 32pt;
      color: rgb(51, 51, 51);
      width: 80%;
      margin: 2% 10%;
    }
    h2{
      font-size: 12pt;
      color: rgb(151, 151, 151);
      width: 80%;
      margin: 5% 10%;
    }
    a:hover h1{
      color: rgb(255, 255, 255);
    }
    a:hover h2{
      color: rgb(255, 255, 255);
    }
    a:hover{
      background-color: rgb(118, 195, 143);
    }
  }
}

.header-work{
  width: 80%;
  margin: 0 10%;
  margin-top: -6.2%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  .header-block{
    width: 25%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    font-size: 16pt;
    color: white;
    background-color: rgb(48, 48, 48);
    border-radius: 1vw ;
    padding: 0.3%;
  
  }   
}

.work{
  width: 80%;
  display: -webkit-inline-box;
  display: inline-flex;
  margin: 2% 10%;
  flex-wrap: wrap;
  text-decoration: none;
  -webkit-box-pack: justify;
          justify-content: space-between;
  .work__item{
    margin: 2% 0;
    width: 32%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    img{
      display: block;
      width: 100%;
    }
    a{
      width: 100%;
      text-decoration: none;
      color: white;
      position: relative;
      display: -webkit-box;
      display: flex;
      border: 0.25vw solid white;
    }
    span{
      position: absolute;
      width: 100%;
      bottom: 0;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      background-color: rgb(21, 21, 21);
      padding: 1% 0;
    }
    a:hover{
      border-color: rgb(118, 195, 143);
    }
    a:hover span{
      display: none;
    }
  }
}

