.main{
  width: 100%;
  .feedback{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #709dca;
    h1{
     font-size: 35px;
     font-family: Gotham;
     font-weight: bold;
     color: #ffffff;
     text-align: center;
     line-height: 24px;
     padding-top: 5%;
     padding-bottom: 0.5%;
    }
    h2{
      font-size: 16px;
     font-family: OpenSans;
     color: #ffffff;
     text-align: center;
     line-height: 24px;
     padding-bottom: 2%;
    }
    .feedback-container{
    display: flex;
    padding-bottom: 16%;
    width: 100%;
    justify-content: center;
    @media only screen and (min-device-width : 320px) and (max-width: 768px){
     width: 100%; 
     flex-direction: column;
     justify-content: center;    
    }
      label{
        width: 20%;
        margin: 0 1%;
        @media only screen and (min-device-width : 320px) and (max-width: 768px){
          width: 100%;
          }
        span{
          position: absolute;
          z-index: 1;
          font-size: 15px;
          padding: 1% 0 0 1%;
          color: #6e6e6e;
        }
      
        input{
          position: relative;
          z-index: 0;
          width: 90%;
          margin: 0 0.5%;
          font-size: 13px;
          padding: 5% 0 5% 10%;
          border-radius: 4px;
          border: none;
        }
      }
      button{
        @media only screen and (min-device-width : 320px) and (max-width: 768px){
         width: 100%; 
         padding: 2%;
        }
        border-radius: 2px;
        background-color: #ffbb42;
        border: none;
        width: 14%;
        padding: 0 0.5%;
        color: #ffffff;
      }
    }
  }
  .wrapper{
    @media only screen and (min-device-width : 1px) and (max-width: 1800px){
      display: none;
    }
    .bg-slider{
      position: absolute;
      margin-left: 32%;
      margin-top: -14%;
    }
  }
  .slider {
    position: relative;
    left: 37.5%;
    top: -250px;
    width: 445px;
    height: 264px;
    overflow: hidden;

    .slides-container {
      display: flex;
      position: absolute;
      width: 999%;
      height: 100%;
      left: 0;
      transition: 0.5s;
      .slide {
        display: block;
        width: 445px;
        height: 100%;
      }
      .red-slide {
        background: red;
      }
      .green-slide {
        background: green;
      }
      .blue-slide {
        background: blue;
      }
    } 
    .dots-container {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
        background: #000;
        cursor: pointer;
      }
      .dot-active {
        background: #eee;
      }
    }
    .arrows-container__item {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
      border: none;
      background: none;
      font-size: 24px;
      outline: none;
      cursor: pointer;
    }
    .left-btn {
      left: 10px;
    }
    .rigth-btn {
      right: 10px;
    }
  }  
  .header-our-service{
    width: 100%;
    text-align: center;
    margin-top: -5%;
    padding-bottom: 3%;
    color: #394b50;
    @media only screen and (min-device-width : 1px) and (max-width: 1223px){
     margin-top: 0; 
    }
    h1{
      font-family: Gotham;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: -0.75px;
    }
    h2{
      font-family: OpenSans;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #394b50;
    }
  }
  .our-service{
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    @media only screen and (min-device-width : 320px) and (max-width: 1223px){
     flex-direction: column; 
     justify-content: center;
    }
    .our-service_item{
      width: 50%;
      @media only screen and (min-device-width : 320px) and (max-width: 1223px){
      width: 100%;
      }
      .elem-service_item{
        padding: 4%;
        display: flex;
        flex-direction: row;
        height: 20%;
        i{
          width: 10%;
          display: flex;
          justify-content: center;
          -webkit-text-stroke: 2px #709dca;
          color: white;
        }
        .our-service-info_item{
          width: 90%;
          margin-left: 3%;
          @media only screen and (min-device-width : 320px) and (max-width: 768px){
          width: 70%;
          padding-left: 10%;
          }
          h1{
            font-family: Lato;
            font-size: 16px;
            padding-bottom:2%;
            color: #394b50;
          }
          p{
            font-family: OpenSans;
            font-size: 13px;
            color: #7b7b7b;
            line-height: 1.69;
          }
        }
      }
      .elem-service_item:hover{
        i{
          -webkit-text-stroke: 2px #f6772c;
        }
      }
    }
  }
  .about{
    display: flex;
    flex-direction: row;
    .img{
      @media only screen and (min-device-width : 1px) and (max-width: 768px){
        display: none;
        }
    }
    .about_item{
      
      background-color: #ffc155;
      width: 50%;
      @media only screen and (min-device-width : 1px) and (max-width: 768px){
        width: 100%;
        padding-bottom: 10%;
        }
      .info{
        width: 65%;
        padding-left: 10%;
        padding-top: 20%;
        h1{
          font-size: 30px;
          font-family: Gotham;
          font-weight: bold;
          color: #ffffff;
          padding-bottom: 2%;
        }
        p{
          font-size: 13px;
          font-weight: OpenSans;
          color: #ffffff;
          line-height: 2;
          padding-bottom: 2%;
        }
        button{
          font-family: Lato;
          font-size: 14px;
          color: #ffffff;
          width: 145px;
          height: 46px;
          border-radius: 2px;
          border: solid 1px #e7ad48;
          background-color: #e7ad48;
        }
      }
    }
    
  }
  .header-price{
    width: 80%;
    margin: 0 10%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      font-family: Gotham;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: -0.75px;
      color: #394b50;
    }
    h2{
      font-family: Lato;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: center;
      color: #75888d;
    }
  }
  .price{
    padding-bottom: 10% ;
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media only screen and (min-device-width : 320px) and (max-width: 768px){
     flex-direction: column;     
    }
    .price_item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1% 5%;
      border-radius: 3px;
      border: solid 1px #ccd5df;
      background-color: #ffffff;
      @media only screen and (min-device-width : 320px) and (max-width: 768px){
       margin: 1%;  
      }
      .header-price{
        width: 100%;
        h1,h2,h3,h4,h5,h6{
          width: 100%;
          text-align: center;
        }
        h1{
          font-family: Lato;
          font-size: 25px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 0.88;
          letter-spacing: normal;
          text-align: center;
          color: #818b95;
          padding-bottom: 10%;
        }
        h2{
          font-size: 60px;
          font-weight: bold;
          color: #ffbb42;
        }
        h3{
          font-family: Lato;
          font-size: 20px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.1;
          letter-spacing: normal;
          text-align: center;
          color: #818b95;
          padding-bottom: 15%;
        }
        h4,h5,h6{
          font-family: Lato;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.86;
          letter-spacing: normal;
          text-align: center;
          color: #b5bbc1;
          border-top: 1px solid #e2e9f0;
        }
        h6{
          padding-bottom: 5%;
        }
        button{
          width: 131px;
          height: 42px;
          border-radius: 2px;
          border: none;
          background-color: #ffbb42;
          color: #ffffff;
        }
      }
    }
    .price_item:hover{
      margin: -1% 0;
      border-radius: 3px;
      background-color: #709dca;
      h1,h2,h3{
        color: #ffffff;
      }
      h4,h5,h6{
        border-top: 1px solid #8eb8e2;
        color:#c2e1ff;;
      }
    }
  }
  .header-cicle{
    width: 80%;
    margin: 0 10%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      font-family: Gotham;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: -0.75px;
      color: #394b50;
    }
    h2{
      font-family: Lato;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: center;
      color: #75888d;
    }
  }
  .cicle{
    width: 80%;
    margin: 0 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: row;
    @media only screen and (min-device-width : 320px) and (max-width: 768px){
    flex-direction: column;      
    }
    
    .cicle_block{
      position: relative;
      padding: 0 5%;
      i{
        -webkit-text-stroke: 2px #709dca;
        color: #ffffff;
        padding-bottom: 10%;
        display: flex;
        justify-content: center;
        
      }
      h1{
        font-family: Lato;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: center;
        color: #394b50;
      }
      p{
        font-family: OpenSans;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: normal;
        text-align: center;
        color: #7b7b7b;
      }
    }
    .step2::before{
      content: url('./../../../img/Arrow_1.png');
      position: absolute;
      margin-left: -35%;
      @media only screen and (min-device-width : 320px) and (max-width: 768px){
       display: none;   
      }
    }
    .step3::before{
      content: url('./../../../img/Arrow_1.png');
      position: absolute;
      padding-bottom: 15%;
      margin-left: -35%;
      transform: rotate(180deg);
      @media only screen and (min-device-width : 320px) and (max-width: 768px){
       display: none;   
      }
    }
    .step4::before{
      content: url('./../../../img/Arrow_1.png');
      position: absolute;
      margin-left: -35%;
      @media only screen and (min-device-width : 320px) and (max-width: 768px){
        display: none;
      }
    }
  }
  .clients-reviews{
    width: 100%;
    background-color: #ffc155;
    padding-bottom: 5%;
    .header-clients-reviews{
      width: 100%;
      text-align: center;
      color: #ffffff;
      padding: 5% 0 2% 0;
      h1{
        font-family: Gotham;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: -0.75px;
      }
      h2{
        font-family: OpenSans;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        
      }
    }
    .clients-reviews-container{
      width: 80%;
      margin: 0 10%;
      &_item{
        background-color: #ffffff;
        width: 45%;
        justify-content: space-between;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 5% 2%;
        margin: 1% 0;
        @media only screen and (min-device-width : 1px) and (max-width: 768px){
          width: 100%;
          }
        img{
          width: 20%;
          @media only screen and (min-device-width : 320px) and (max-width: 768px){
          display: none;
          }
        }
        .reviews_item{
          width: 78%;
          padding-left: 2%;
          @media only screen and (min-device-width : 320px) and (max-width: 768px){
          width: 100%;
          }
          blockquote{
            padding-bottom: 7%;
            font-family: OpenSans;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.69;
            letter-spacing: normal;
            text-align: left;
            color: #7b7b7b;
            span{
              font-family: BrandonGrotesque;
              font-size: 30px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 0.73;
              letter-spacing: normal;
              text-align: left;
              color: #7b7b7b;
            }
          }
          h1{
            font-family: Lato;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: left;
            color: #99a9ae;
            span{
            color: #f6772c;
            }
          }
        }
      }
    }
  }
  .header-map{
    width: 80%;
    margin: 0 10%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      font-family: Gotham;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: -0.75px;
      color: #394b50;
    }
    h2{
      font-family: Lato;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: center;
      color: #75888d;
    }
  }
  .map-menu{
    width: 80%;
    margin: 0 10%;
    .sub-form{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 2%;
      @media only screen and (min-device-width : 320px) and (max-width: 768px){
      flex-direction: column;
      }
      &_item{
        position: relative;
        margin: 0 2%;
        background-color: #ffbb42;
        border: none;
        @media only screen and (min-device-width : 320px) and (max-width: 768px){
         position: none; 
        }
        input{
          padding: 7% 15%;
          border: solid 1px #cbcbcb;
          background-color: #ffffff;
        }
        i{
          top: 35%;
          left: 5%;
          position: absolute;
        }
      }
      button{
        padding: 0 6%;
        @media only screen and (min-device-width : 320px) and (max-width: 768px){
          padding: 3% 0;
        }
      }
    }
    .map_img{
      display: flex;
      justify-content: center;
      padding-bottom: 2%;
      border-bottom: 1px solid #e3e7ec;
    }
    .menu-bar{
      width: 60%;
      margin: 0 20%;
      display: inline-flex;
      justify-content: center;
      @media only screen and (min-device-width : 320px) and (max-width: 768px){
       display: flex;
       flex-direction: column;  
       flex-wrap: wrap; 
      }
      li{
        margin: 2%;
        a{
          text-decoration: none;
          font-family: Lato;
          font-size: 13px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #394b50;
        }
      }
    }
    .back-call{
      display: flex;
      justify-content: center;
      padding-bottom: 2%;
      i{
        transform: scale(-1,1);
        font-size: 20px;
        color: #394b50;
      }
      a{
        text-decoration: none;
        font-family: Lato;
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: center;
        color: #394b50;
      }
    }
    .social{
      width: 100%;
      display: inline-flex;
      justify-content: center;
      padding-bottom: 4%;
      i{
        margin: 0 0.5%;
        font-size: 18.5px;
        color: #709dca;
      }
      i:hover{
        color: #ffc155;
      }
    }
  }
}