.footer {
   background-color: rgb(48, 48, 48);
}

.footer-projectAbout{
   padding-bottom: 2%;
   display: -webkit-box;
   display: flex;
   -webkit-box-pack: justify;
           justify-content: space-between;
   h3{
      padding: 15% 0;
      color: rgb(255, 255, 255);
      font-size: 0.49rem;
   };
   >div{
      width: 20%;
   };
   .projectAbout_fromTheBlog{
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      flex-wrap: nowrap;
      .title{
         font-size: 0.4rem;
         color: rgb(118, 195, 143);
         padding-bottom: 5%;
      };
      .author{
         display: block;
         font-size: 0.30rem;
         color: rgb(102, 102, 102);
         padding-bottom: 3%;
         a{
            color: rgb(118, 195, 142);
         };
      };
      .date{
         padding-bottom: 4%;
         display: block;
         font-size: 0.31rem;
         color: rgb(151, 151, 151);
      };
      .post{
         font-size: 0.37rem;
         color: rgb(151, 151, 151);
      };
      .link{
         color: rgb(118, 195, 142);
         font-size: 0.37rem;
      }
   }
   .projectAbout_quickLinks{
      li{
         color: rgb(118, 195, 143);
         font-size: 0.4rem;
         padding: 5% 0 2.5%;
         border-bottom: 3px solid rgb(64, 64, 64);
      };
      li:first-child{
         padding-top: 0;
      };
   };
   .projectAbout_latestTweets{
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      font-size:0.4rem;
      color: rgb(151, 151, 151);
      span{
         color: rgb(118, 195, 142);
      };
      div{
         padding: 0 0 5%;
      };
   };
   .projectAbout_contactUs{
      form{
         display: -webkit-box;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
                 flex-direction: column;
         input{
            margin-bottom: 10px;
            background-color: rgb(34, 34, 34);
            padding: 2% 5%;
            height: 30px;
            border: none;
            border-radius: 15px;
            color: rgb(255, 255, 255);
         };
         #contact-message{
            height: 60px;
         }
         button{
            background-color: rgb(118, 195, 143);
            width: 30%;
            padding: 4% 2%; 
            border: none;
            border-radius: 10px;
         };
      };
   };
};

.footer-protection{
   padding: 2% 0;
   background-color: rgb(43, 43, 43);
   div{
      margin: 0 auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      width: 80%;
      color: rgb(151, 151, 151);
      font-size: 0.3rem;
   };
};

@media only screen and (max-width : 1224px) {
   .footer-projectAbout .projectAbout_contactUs form button {
      width: 45%;
   };
   .footer-projectAbout .projectAbout_contactUs form input {
      margin-bottom: 5px;
   };
};

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   .footer-projectAbout .projectAbout_contactUs form input {
      padding: 1% 8%;
      height: 20px;
   };
};

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .projectAbout_quickLinks li {
      border-bottom: 1px solid #404040 !important;
   };
   .projectAbout_contactUs form input {
      margin-bottom: 2px !important;
      padding: 3% 8% !important;
      height: 6px !important;
      font-size: 4px;
   };
   .projectAbout_contactUs form button {
      width: 50%;
      padding: 2% 2%;
      font-size: 4px;
   };
};