@font-face{
 font-family: OpenSans;
 src: url('./fonts/opensans.ttf');
 font-weight: normal;
}

@font-face {
 font-family: OpenSans;
 src: url('./fonts/opensansbold.ttf');
 font-weight: bold;
}

@font-face {
  font-family: CenturyGothiic;
  src: url('./fonts/CenturyGothic.ttf');
  font-weight: normal;
}