#first-form,
#secondForm {
  display: grid;
  grid-template-columns: 35% 60%;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 10px;
}

.email-container {
  grid-column: 1;
}

.city-container {
  grid-column: 2;
  grid-row: 1;
  font-size: 20px;
}

#first-form input,
#first-form select {
  width: 100%;
}

.error {
  margin: 0;
  margin-left: 10px;
  display: none;
  color: red;
  font-size: 18px;
}

.input-view,
.button-view {
  padding: 10px;
  border-radius: 15px;
  border: 3px solid black;
  border-color: black;
  font-size: 20px;
}

.input-view:focus,
.button-view:focus {
  outline: none;
}

.input-view:focus {
  border-color: cadetblue !important;
}

.form-view {
  margin-bottom: 20px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
}

.button-container {
  text-align: right;
}

#send:disabled:hover {
  box-shadow: none;
  background-color: white;
}

#send,
#resetButton {
  padding: 10px;
  width: 20%;
  margin-left: 20px;
  margin-right: 30px;
  box-shadow: 3px 3px 10px black;
}

#send:active,
#resetButton:active {
  box-shadow: none;
  border-color: cadetblue;
}

#send:hover,
#resetButton:hover {
  background-color: cadetblue;
}

/* for second form */

#secondForm label:nth-of-type(2) {
  grid-column: 1;
}

#secondForm label:nth-of-type(3) {
  grid-column: 1;
}

.comment {
  grid-column: 2;
  grid-row: 1 / 4;
}

.label-view {
  font-size: 20px;
}

.label-view:checked {
  outline: none;
}
