@import "../__slider-container/__slide-one/slide-one.css";
@import "../__slider-container/__style-slide/__info/info.css";
.slide{
  width: 80%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  overflow: visible;
}
.carousel-item{
  widows: 80%;
}