svg {
  border: 1px solid red;
  fill: pink;
}

.placeholder::-webkit-input-placeholder {
  color:#c0392b;
}
.placeholder::-moz-placeholder {
  color:#c0392b;
}/* Firefox 19+ */
.placeholder:-moz-placeholder {
  color:#c0392b;
}/* Firefox 18- */
.placeholder:-ms-input-placeholder {
  color:#c0392b;
}
.placeholder:-o-input-placeholder {
  color:#c0392b;
}

header {
  position: sticky;
  top: 20px;
  border: 1px solid red;
  background-color: green;
}

/* placeholder, flexbox, transform, grid, position: sticky */
