.barber{
  border: 1px solid black;
  width: 70%;
  border-collapse: collapse;
}
table tr, table th, table td{
  text-align: center;
  border: 1px solid black;
}
.skidki{
  padding-right: 6.5%;
}
table th:hover, table td:hover{
  background-color: #AE8EFF;
  font-size: 1.2em;
  transition: all 0.5s;
}
table th:active{
  background-color: #7A32FF;
}