.contact{
  display: flex;
  flex-direction: column;
}
.contact__item{
  margin-top: 5%;
}
.footer-form-button{
  display: inline-block;
  width: 50%;
  text-decoration: none;
  text-align: center;
  padding: 3% 0;
  margin: 5% 0;
  font-size: 12pt;
  color: rgb(48, 48, 48);
  background-color: rgb(118, 195, 143);
  border-color: rgb(118, 195, 143);
  border-radius: 0.5vw;
}
.contact__item_form{
 color: rgb(152, 152, 152);
 background-color: rgb(34, 34, 34);
 border:1px solid rgb(34, 34, 34);
 margin: 1% 0;
 border-radius: 1vw;
 padding: 2% 5%;
}
.contact__item_bigform{
 display: block;
 width: 100%;
 
}