@font-face {
  font-family: "OpenSans";
  src: url("./2211.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../Fatura/FuturaPT-Bold.ttf");

  font-weight: normal;
  font-style: normal;
}
