.positionCenterTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0 auto;
}

.positionRightBlock {
  margin-left: auto;
}

.widthTextContainer {
  width: 50%;
}
