@font-face {
  font-family: MyFont;
  src: url(myfont.ttf);
}

body {
  background-image: url(paper_texture.jpg);
}

h1 {
  font-family: MyFont;
  font-size: 45px;
  color: #FF7F50;
}

h2 {
  font-family: MyFont;
  font-size: 30px;
  color: #FF7F50;
}

div {
  font-family: MyFont;
  font-style: italic;
  display: inline;
  font-size: 25px;
  color: #FF4500;
}

p {
  font-family: MyFont;
  color: #FF7F50;
  font-size: 31px;
}

.border {
  margin: 1%;
  padding: 20px;
  color: #FF4500;
  border: 5px solid #FF4500;
}