.footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3%;
   background-color: rgb(38, 43, 46);
   @include rale;
   &_title{
      letter-spacing: 0.5px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 1%;
   }
   &_social{
      width: 100%;
      display: flex;
      margin-bottom: 2%;
      justify-content: center;
   }
   &_social-icons{
      color: rgb(250, 244, 244);
      background-color: rgba(138, 138, 138, 0.9);
      width: 40px;
      text-align: center;
      height: 40px;
      line-height: 40px;
   }
   &_social-icons:not(:first-child){
      margin-left: 10px;
   }
   &_social-icons:hover{
      color: rgba(0, 0, 0, 0.9);
      background-color: rgb(113, 246, 235);
   }
   &_text{
      letter-spacing: 0.5px;
      color: rgba(255, 255, 255, 0.4);
   }
}

@media only screen and (max-width: 768px) {
   .footer{
      &_social-icons{
         width: 20px;
         height: 20px;
         line-height: 20px;
      }
   }
}