.container{
   width: 80%;
   margin: 0 auto;
}

html{
   font-size: 21.3px;
   overflow-x: hidden;
   // position: fixed;
}

@media only screen and (max-width : 1824px) {
   html{
      font-size: 13px !important;
   }
};

@media only screen and (max-width : 1024px) {
   html{
      font-size: 8.5px !important;
   }
};

 
@media only screen and (max-width : 768px){
   html{
      font-size: 5.3px !important;
   }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
   html{
      font-size: 3.5px !important;
   }
}