body {
   transition: 1s ease;
   -webkit-transition: 1s ease;
   -moz-transition: 1s ease;
   -ms-transition: 1s ease;
   -o-transition: 1s ease;
}

.menuOpen {
   transform: translateX(-18vw);
   -webkit-transform: translateX(-18vw);
   -moz-transform: translateX(-18vw);
   -ms-transform: translateX(-18vw);
   -o-transform: translateX(-18vw);
}

.header {
   background: url(./img/header/header_bg.png), rgba(255, 255, 255, 0.99);
   height: 80vh;
   .nav-bar {
      padding: 2% 0 0;
      display: flex;
      justify-content: space-between;
      &_menu {
         width: 17vw;
         height: 100vh;
         display: block;
         position: absolute;
         text-align: center;
         left: 100vw;
         top: 0;
         background-color: rgb(248, 250, 250);
         ul {
            margin-top: 15%;
         }
         li {
            margin-top: 7%;
            @include montBold;
            font-size: 1rem;
            letter-spacing: 2.7px;
            text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
            a {
               text-decoration: none;
               color: rgb(80, 80, 80);
            }
         }
      }
   }
   .header-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include montBold;
      font-size: 2.81rem;
      line-height: 0.62;
      letter-spacing: 2.7px;
      color: rgb(80, 80, 80);
      text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
      text-align: center;
      .header-content_title,
      .header-content_subTitle {
         span {
            background-color: rgba(118, 244, 234, 0.5);
         }
      }
      &_title {
         margin-top: 20%;
      }
      &_subTitle {
         margin-top: 2%;
      }
      &_button {
         width: 15%;
         padding: 1% 0;
         border-radius: 2px;
         border: solid 2px rgb(0, 0, 0);
         color: rgba(0, 0, 0, 0.75);
         letter-spacing: 2.16px;
         background-color: rgb(239, 240, 242);
         margin-top: 12%;
         a {
            text-decoration: none;
         }
      }
   }
}

@media only screen and (max-width: 1824px) {
   .header {
      height: 100vh;
   }
   .header-content {
      &_title {
         margin-top: 10% !important;
      }
   }
}

@media only screen and (max-width: 768px) {
   .header {
      height: 30vh;
   }
   .menuOpen{
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateY(5vh);
      -webkit-transform: translateY(5vh);
      -moz-transform: translateY(5vh);
      -ms-transform: translateY(5vh);
      -o-transform: translateY(5vh);
   }
   .nav-bar_logo {
      img {
         width: 80%;
      }
   }
   .nav-bar {
      &_menu {
         left: 0 !important;
         top: -5vh !important;
         width: 100vw !important;
         height: 5vh !important;
         ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0 !important;
         }
         li {
            margin-top: 2% !important;
            letter-spacing: 1.5px !important;
            margin-left: 2%;
         }
      }
   }

   .header-content_button {
      width: 25% !important;
   }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
   .nav-bar_logo {
      img {
         width: 60%;
      }
   }
   .header-content{
      &_title{
         margin-top: 20% !important;
      }
      &_subTitle{
         line-height: 15px;
      }
      &_button{
         width: 40% !important;
      }
   }
}