
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
/*!=====================INTRO==================*/



.intro{
    height: 990px;
    background: linear-gradient( rgba(8, 8, 8, 0.7), rgba(0, 0, 0, 0.7) ), #1a273c url('../img/futuresH.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;
}

.intro .container{
    display: flex;
    flex-direction: column;
    height: 990px;
    justify-content: center;
    text-align: center;
}

.intro .title{
    font-family: Century Gothic , sans-serif;
    font-weight: 300;
    font-size: 72px;
}

.intro .subtitle{
    padding: 30px 0;
    font-size: 36px;
    color: #8b8d8f;
}





/*!================SLOGAN=======================*/


.slogan{
    width: 100%;
    height: 780px;
    background: linear-gradient( rgba(204, 204, 201, 0.3), rgba(124, 122, 122, 0.623) ), #1a273c url('../img/futures2H.png') no-repeat ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slogan .container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    text-align: right;
}

.slogan__content{
    width: 50%;
}

.slogan__title{
    font-size: 36px;
    margin-bottom: 30px;
}

.slogan__subtitle{
    margin-top: 30px;
    font-size: 18px;
    color: #545457;
    line-height: 2;
}

.slogan__text{
    margin: 30px 0 40px;
    font-weight: 300;
    line-height: 2;
}

.slogan__line{
    margin-left: auto;
    margin-right: 0em;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.btn--blue{
    background-color: #4285f4;
}

.btn--blue i{
    margin-right: 10px;
}

.btn--blue:hover{
    background-color: #0d429a;
    color: white;
}




/*!================DOUBLES__SLOGAN=======================*/

.double__slogan li, ul{
    list-style: none;
    padding: 0 0 5px 0;
    color: black;
}



/*!==============INTRO--SECOND==================*/

.second__text{
    margin-bottom: 55px;
    font-weight: 300;
    font-size: 30px;
}

.second__line{
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.second__title{
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.second__subtitle{
    font-weight: 300;
}



/*!================WORKS=======================*/

.works .container{
    display: flex;
    margin: 0 auto;
    padding: 100px 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}



.works__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: #fff;
}

.works__title{
    font-size: 36px;
    color: black;
    margin-bottom: 30px;
}

.works__line{
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: linear-gradient(45deg, #4fd9fe, #bfb9fe);
}

.works__subtitle{
    font-size: 18px;
    color: #b1b1b2;
    margin: 30px 0;
}

.works__text{
    font-weight: 300;
    margin-bottom: 30px;
    color: white;
}

/*?=====WORKSCONTENT=====*/

.works__container{
    display: flex;
    width: 33.33333%;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    text-align: center;

    border: 1px solid #f1f0f0;
}

.works__container:hover{
    box-shadow: 2px 3px 4px #000;
}

.works__icon{
    width: 65px;
    height: 65px;
    margin-bottom: 60px;
    margin-top: 80px;
}

.works__container .works__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
}

.works__container .works__text{
    font-weight: 300;
    color: #575757;
}

.works a{
    margin-bottom: 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.works span{
    padding-right: 5px;
}



/*!================BLUE=======================*/

.blue{
    background-color: #49b0f1;
}

.blue .container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    padding: 63px 0;
}

.blue__title{
    font-size: 30px;
    color: white;
}

.blue .btn--transparent{
    padding: 22px 54px;
    background-color: transparent;
    border: 1px solid white;
}

.blue .btn--transparent:hover {
    color: white;
    border-color: black;
}












/*!==============MEDIA==================*/

@media (max-width: 1170px){

    /*====Intro===*/

    .intro .title{
        font-size: 50px;
    }

    .intro .subtitle{
        font-size: 25px;
    }


    /*====slogan====*/

    .slogan{
        height: auto;
        padding: 20px 0;
    }
    .slogan img{
        display: none;
    }

    .slogan__content{
        margin-left: 30px;
    }

    .slogan__title{
        font-size: 25px;
    }

    .slogan__subtitle{
        font-size: 15px;
    }

    .slogan__text{
        font-size: 10px;
    }

    .slogan .btn{
        padding: 10px 20px;
    }

    .slogan a{
        font-size: 10px;
    }

    /*blue*/

    .blue .container{
        padding: 20px 40px;
    }

    .blue__title{
        font-size: 20px;
    }

    .blue .btn{
        padding: 10px 20px;
    }

    .blue a{
        font-size: 10px;
    }
}




@media (max-width: 950px){

    /*double__slogan*/
    .double__slogan .container{
        padding: 0 20px;
    }

    .double__slogan li{
        margin: 0 auto;
        width: 100%;
        text-align: left;
    }
}




@media (max-width: 768px){
    
    /*====Intro===*/
    .intro{
        height: auto;   
    }
    
    .intro .container{
        height: auto;
        padding: 100px 0;
    }

    .intro__bg{
        height: auto;
    }

    .intro .title{
        font-size: 35px;
    }

    .intro .subtitle{
        font-size: 20px;
    }

    /*slogan*/

    .slogan__title{
        font-size: 20px;
    }

    .slogan__text{
        margin: 20px 0;
    }

    /*works*/

    .works .container{
        padding: 50px 0;
    }

    .works__container{
        width: 50%;
    }

    .works__icon{
        margin-bottom: 20px;
    }

    /*intro--second*/

    .second__text{
        font-size: 15px;
        margin-bottom: 30px;
    }

    .second__title{
        font-size: 10px;
        margin-bottom: 0;
    }

    .intro--second i{
        height: 10px;
        margin-bottom: 50px;
    }

    .intro--second .fa-5x{
        font-size: 3em;
    }

    /*blue*/

    .blue__title{
        font-size: 13px;
    }
}




@media (max-width: 550px){

    /*====Intro===*/

    .intro .title{
        font-size: 25px;
    }

    .intro .subtitle{
        font-size: 15px;
        padding-top: 0;
    }

    /*====features====*/

    .features{
        padding: 20px;
    }

    /*slogan*/

    .slogan__title{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .slogan__line{
        margin-left: auto;
        margin-right: 0em; 
    }

    .slogan__subtitle{
        font-size: 10px;
        margin-top: 10px;
    }
    .slogan__text{
        margin: 10px 0;
        font-size: 7px;
    }

    /*blue*/
    .blue .container{
        padding: 20px 10px;
    }

    .blue__title{
        font-size: 10px;
    }

    .blue a{
        font-size: 7px;
    }

    /*works*/
    .works__content{
        width: 100%;
    }

    .works__container{
        width: 50%;
    }

    .works__title{
        font-size: 25px;
    }

    .works__icon{
        margin-top: 10px;
        width: 30px;
        height: 30px;
    }

    .works__subtitle{
        font-size: 10px;
        margin: 10px 0;
    }

    .works__text{
        font-size: 10px;
    }

    .works__content .works__title{
        margin-bottom: 10px;
    }

    .works__content .works__text{
        margin-bottom: 10px;
    }

    .works__container a{
        margin-bottom: 30px;
    }
}




@media (max-width: 386px){

    /*====Intro===*/
    .intro .title{
        font-size: 17px;
    }

    .intro .subtitle{
        font-size: 10px;
    }

    .intro a{
        font-size: 7px;
    }

    /*blue*/

    .blue .container{
        padding: 10px 10px;
    }

    .blue__title{
        font-size: 7px;
    }

    .blue .btn{
        padding: 7px 20px;
    }

    .blue a{
        font-size: 7px;
    }


    /*works*/

    .works__title{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .works__icon{
        width: 20px;
        height: 20px;
        margin: 10px 0;
    }

    .works__subtitle{
        font-size: 7px;
        margin: 10px 0;
    }


    .works__text{
        font-size: 7px;
        margin-bottom: 10px;
    }

    .works__content .works__title{
        font-size: 10px;
        margin-bottom: 7px;
    }

    .works__content .works__text{
        margin-bottom: 10px;
    }

    .works__content a{
        font-size: 7px;
    }
}