
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#name, #email, #review {
    width: 300px;
    height: 23px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    margin: 20px;
    outline: none;
}

#todo-submit, #todo-add {
    margin: 20px;
    display: inline-block;
    color: black;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250, 172, 17);
    border-radius: 7px;
    background: rgb(255, 212, 3) linear-gradient(rgb(255, 212, 3), rgb(248, 157, 23));
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
    transition: box-shadow .2s, border-color .2s;
}

#todo-submit:hover {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, .5);
}

#todo-submit:active {
    border-color: rgba(177, 159, 0, 1);
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .1), inset 0 1px 2px rgba(0, 0, 0, .3), inset 0 0 0 60px rgba(255, 255, 0, .45);
}


.item {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;

}

#todo-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.closeVisible {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 24px;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: #07bc4c;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    transition: box-shadow .18s ease-out, background .18s ease-out, color .18s ease-out;
}

.btn:disabled {
    background-color: #eee;
    color: #444;
    pointer-events: none;

}

.closeVisible:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}

.closeVisible:hover {
    box-shadow: 0 1px 1px 0 #cfcfcf, 0 2px 5px 0 #cfcfcf;
}

.closeVisible:active {
    background-color: #efefef !important;
}
