.gradientColor {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(48deg, #00f0ff -21%, #ebacfd 121%);
}

.whiteColor {
  color: #fff;
}
