.iconContainer {
  text-align: center;
}

.iconTitle {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #333333;
}

.iconText {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #575757;
}

.icon {
  font-family: themify;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.gradientColorIcon {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #0b2349 33%, #0d61bc 66%, #8aa9d6);

  margin-right: 15px;
}

.smallTextBlock {
  width: 80%;
  margin: 0 auto;
}
