.logoContainer {
  padding: 40px 0;
  height: 25px;
  width: 25%;
  opacity: 0.24;
  border-bottom: 1px solid #000000;
}

/* .logoContainer:nth-last-of-type(1n) {
  border-right: 1px solid #000000;
} */
