.header{
  padding:1% 0;
  width: 80%;
  display: flex;
  margin: 0 10%;
  @media only screen and (min-device-width : 320px) and (max-width: 768px){
    flex-direction: column;
    justify-content: center;
    }
  .logo{
    width: 30%;
    @media only screen and (min-device-width : 320px) and (max-width: 768px){
      width: 100%;
      display: flex;
      justify-content: center;
      }
  }
  .nav{
    width: 70%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media only screen and (min-device-width : 320px) and (max-width: 768px){
      width: 100%;
      flex-direction: column;
      justify-content: center;
      }
    a{
      padding: 20px 10px;
      text-align: center;
      font-size: 14px;
      font-family: Lato;
      border-radius: 4px;
      text-decoration: none;
      color: #868686; 
    }
    a:hover{
      color: #ffffff;  
      background-color: #ffbb42;       
    }
  }
}
