.apple {
    height: 750px;
    padding-top: 100px;
    background: url(телефоны/a.jpg) center / cover;
    z-index: 1000;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;  
    font-family: Bold; 
}

.name{
    font-size: 80px;
    text-align: center;
    color: white;

}

.title {
    font-family: rub; 
    font-size: 80px;
    text-align: center;
    color: #5e4646; 
    margin-top: 20px;
    
}

.features{
    display: flex;
    margin: 100px 20px;
    
}

.features__item{
    width: 33.33333%;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #757272;
}

.btn{    
    color: white;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 40px;
    text-decoration: none;
    border-radius: 5px;
}

.button{
    text-align: center;
    color: white;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 40px;
    
}

.button--red:hover{
    background-color: #ea4444;
}

.btn--red{
    border: 1px solid red;
    background-color: red;

}

.btn--red:hover {
    background-color: #ea4444;
}

.samsung{
    height: 120px;
    padding-top: 100px;
    z-index: 1000;
    background: url(телефоны/logo.png) center;

}

.future__items{
    width: 33.33333%;
    text-align: center;
}

.table__item{
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px 10px;
       
}
body{
    margin: 0;
}

.xiaomi {
    height: 750px;
    padding-top: 100px;
    background: url(телефоны/123.png) center / cover;
    z-index: 1000;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
       
}

h1{
    margin-left: 100px;
}

.btns{
    color: white;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 40px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 50px;
}

.buttons{
    text-align: center;
    color: black;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 45px;

}
ul {
    color: #6b6b6b;
    margin-left: 85px;
    margin-top: -10px;
}