@font-face {
  font-family: GeneralFont;
  src: url(fonts/GeneralFont.ttf); 
}

* {
  margin: 0;
  padding: 0;
}

.title {
  height: 100vh;
  background: url(images/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.h1 {
  font-family: 'Rubik One', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  background: #300303;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 10px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  left: 20%;
  top: 12%;
}

.h2 {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: #300303;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 10px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  left: 25%;
  top: 35%;
}

main div {
  padding: 50px;
  max-width: 200px;
  margin: 5px;
}

.inline-block-center {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fffbf0;
}

.inline-block-center a {
  font-family: 'Rubik One', sans-serif;
  font-size: 30px;
  color: #FF7F50;
}


.Apple {
  height: 100vh;
  background: url(images/bg_samsung.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.Samsung {
  height: 100vh;
  background: url(images/bg_samsung.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.Xiaomi {
  height: 100vh;
  background: url(images/bg_samsung.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.title_apple {
  font-family: 'Rubik One', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  background: #300303;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 10px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
  position: absolute;
  left: 42%;
  text-align: center;
}

.info-apple {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10% 0 0 0;
}

.info-apple ul {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  margin: 120px 60px 0 0;
}

.info-apple a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #300303;
}

.info-apple a:hover {
  font-size: 57px;
}

.info-apple a[title] {
  font-weight: bold;
}

.title_samsung {
  font-family: 'Rubik One', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  background: #300303;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 10px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
  position: absolute;
  left: 39%;
  text-align: center;
}

.info-samsung {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10% 0 0 0;
}

.info-samsung ul {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  margin: 120px 60px 0 0;
}

.info-samsung a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #300303;
}

.info-samsung a:hover {
  font-size: 57px;
}

.info-samsung a[title] {
  font-weight: bold;
}

.title_xiaomi {
  font-family: 'Rubik One', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  background: #300303;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 10px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
  position: absolute;
  left: 42%;
  text-align: center;
}

.info-xiaomi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10% 0 0 0;
}

.info-xiaomi img {
  size: 500px;
  width: 500px;
}

.info-xiaomi ul {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  margin: 120px 60px 0 0;
}

.info-xiaomi a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #300303;
}

.info-xiaomi a:hover {
  font-size: 57px;
}

.info-xiaomi a[title] {
  font-weight: bold;
}






