.header {
  margin-bottom: 20px;
  background-color: #eee2e0;
  font-size: 24px;
}

.header-nav-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-nav-list-item {
  margin: 5px;
  padding: 10px;
}

.header-nav-list {
  padding: 0;
  list-style-type: none;
}

li {
  cursor: pointer;
}
