@font-face {
   font-family: 'Gotham-Black';
   src: url(./fonts/Gotham-Black.otf);
};

@font-face {
   font-family: 'Lato';
   src: url(./fonts/Lato.ttf);
};

@font-face {
   font-family: 'Lato';
   src: url(./fonts/Lato_bold.ttf);
   font-weight: bold;
};

@font-face {
   font-family: 'OpenSans';
   src: url(./fonts/OpenSans-Bold.ttf);
   font-weight: bold;
};

@font-face {
   font-family: 'OpenSans';
   src: url(./fonts/OpenSans.ttf);
};

@mixin gotham {
   font-family: 'Gotham-Black';
};

@mixin lato {
   font-family: 'Lato';
};

@mixin latoBold {
   font-family: 'Lato';
   font-weight: bold;
};

@mixin openSansBold {
   font-family: 'OpenSans';
   font-weight: bold;
};

@mixin openSans {
   font-family: 'OpenSans';
};